.comment {

    &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    background-color: var(--baseBackgroundColor);
    padding: @activityItemPadding;
    border-radius: @actionsetBorderRadius;
    margin-bottom: 3px;
    overflow: auto;

    .timestamp {
        font-style: italic;
        float: right;
        display: inline-block;
    }

    .commentmessage {
        padding-left: 20px;
        p:last-child {
            margin-bottom: 0px;
        }
    }

    .commentmoderation {
        float: right;
        padding-left: 5px;
    }

    &.selectedcomment {
        background-color: #ffffc0;
    }
}

.relatedaddcomment {
    font-size: 80%;
    margin-top: 2px;
}

.comment-box {
    width: 100%;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}

.comment-box-wrapper  {
    .comment-form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        textarea {
            flex: 1;
            min-width: 15em;
        }
        .btn {
            margin-left: 5px;
        }
    }
}


.group-wall-page {
    #id_sort_by {
        .inline-radio-buttons();
    }
}
