.input {
    input[type=checkbox],
    input[type=radio] {
        vertical-align: middle;
    }
}

.help-block {
    display: block;
    color: @gray;
}

input,
select,
textarea {
    #font > .sans-serif(normal, @basefont);
    font-size: @basefont;
    color: @grayDark;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px;
}


@formLeftColumnWidth: 9em;
@formColumnSpacer: 1em;

@errorColor: #a00;  // TODO this should be part of theme some day

@inputWidth: 14em;
form {
    input,
    textarea,
    select {
        display: inline-block;
        width: @inputWidth;
    }

    input[type=submit],
    input[type=checkbox],
    input[type=radio] {
        width: auto;
    }

    textarea {
        width: 95%;
    }

    .validation-error {
        color: @errorColor;
    }

    .error {
        input[type=text],
        input[type=checkbox],
        input[type=file],
        input[type=radio],
        select,
        textarea {
            border-color: @errorColor;
            box-shadow: 0px 0px 2px @errorColor;
        }
        .help-inline {
            color: @errorColor;
        }
    }

    :invalid {
        // Not really useful because it applies before the
        // user has done anything, which is distracting.
        box-shadow: none;
    }

    :-moz-ui-invalid {
        border-color: @errorColor;
        box-shadow: 0px 0px 2px @errorColor;
    }

    .actions {
        padding-left: @formLeftColumnWidth + @formColumnSpacer;
        margin-bottom: 1em;

        &.empty-form {
            // Used when we have a form, but no controls in it other than the
            // action buttons at the bottom. In this case we have nothing to
            // align with, so center instead.
            padding-left: 0px;
            text-align: center;
            padding-top: 1em;
            border-top: 1px solid var(--bgBorderColor);
        }
    }
}

.form-row {
    display: flex;
    margin-bottom: 1em;

    > label, > .label-spacer {
        flex: 0;
        min-width: @formLeftColumnWidth;
        margin-right: @formColumnSpacer;
        padding-top: 4px;
        text-align: right;
    }
    > .input, > .inputs-list {
        flex: 2;
    }

    ul.inputs-list, div.input ul {
        padding-top: 4px;
        margin: 0 0 5px;
        // width: 100%;
        li {
            display: block;
            padding: 0;
            //width: 100%;
            list-style: none;
        }
    }

    .input-line {
        display: flex;
        > input[type=text] {
            margin-right: 0.4em;
            width: auto;
            max-width: @inputWidth;
            flex: 1;
        }
    }

}

.form-all-errors {
    margin-top: 1em;
}

.inline-radio-buttons() {
    li {
        display: inline;
    }
}

form[data-pjax-results-container] {
    // Radio buttons act immediately, so we style them to look
    // more like buttons.
    .radioinput {

        input {
            // Stack in front of the label
            position: relative;
            // Move in front of the label (or rather, move the label
            // in behind this)
            margin-right: -24px;
            // Allow room for padding on label.
            margin-left: 10px;
        }

        input[type="checkbox"], input[type="radio"] {
            // When the label wraps onto multiple lines (narrow screens),
            // this works better than 'vertical-align: middle'
            vertical-align: top;
            margin-top: 7px;
        }

        label {
            cursor: pointer;
            padding: 4px 12px 4px 30px;
            box-sizing: border-box;
            max-width: ~"calc(100% - 30px)";
            display: inline-block;
            color: var(--topLinkHoverColor);
            background-color: var(--topColor1);
            margin-bottom: 3px;
            border-radius: 20px;
            box-shadow: inset 0 2px 4px rgba(255,255,255,0.5), inset 0 -2px 4px rgba(0,0,0,0.5);
            border-bottom: 1px solid transparent;
        }

        li:hover {
            label {
                background-color: var(--topColor2);
            }
        }

        input:checked, input:checked + label {
            border-color: var(--linkColor);
            box-shadow: inset 0 -2px 2px rgba(255,255,255,0.3), inset 0 2px 4px rgba(0,0,0,0.5);
            border-color: var(--topColor1);
        }
        input:focus {
            outline: none;
        }
        input:focus + label {
            .focus();
        }
    }
}

@media screen and (max-width: @narrowWidthBreak3) {
    // Stacked forms

    .form-row {
        display: block;

        > .label-spacer {
            display: none;
        }
        > label {
            min-width: auto;
            margin-right: 0px;
            text-align: left;
            font-weight: bold;
        }
    }
    form {
        .actions {
            padding-left: 0px;
        }
    }
}
