/* Home page */

.homepagetitle {
    text-align: center;
    img {
        max-width:100%;
    }
}

.large {
    font-size: 20px;
}

.home-page {
    h1, h2, h3 {
        text-align: center;
    }
    .columns2 > div {
        padding: 1em;
    }
}
