// Once the new learn_beta page is finished and out of beta, it will make sense
// to fold this file into base.less. However, to do so we have to tackle
// base_layout which is incompatible with the new learn page e.g. stuff
// on 'body', probably needs to gain a class

// 3rd party
@import "../bootstrap/lib/bootstrap.less";

// Common things
@import "icons.less";
@import "utils.less";
@import "themes.less";
@import "common.less";
@import "common_layout.less";
@import "sidepanel.less";


// learn page specific
body.learn-page {
    @topbarHeight: 24px;
    nav {
        // We need a fixed height, because this element has 'position: fixed'
        // and we need to allow for that.
        height: @topbarHeight;

        // reset list items
        > ul, > ul > li {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }
        > ul {
            display: flex;
            flex-direction: row;
            li {
                padding: 1px 3px;
            }
            > li:last-child {
                flex: 1;
                text-align: right;
            }
        }
    }
    nav + div {
        margin-top: @topbarHeight;
    }
    #id-loading-full {
        color: #888;
        text-align: center;
        font-size: 48px;
        vertical-align: middle;
        line-height: calc(~"100vh - " @topbarHeight);
        animation: fadeIn 1s infinite alternate;
    }
}

@keyframes fadeIn {
    from { opacity: 0.25; }
}
