/* Override some defaults */
html, body {
  background-color: #444;
  background-image: url(/static/img/bg.png);
  background-attachment:fixed;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

footer {
    border: none;
    color: white;
}

.topbar-inner, .topbar .fill {
  background-color: #223344;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#557799), to(#223344));
  background-image: -moz-linear-gradient(top, #557799, #223344);
  background-image: -ms-linear-gradient(top, #557799, #223344);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #557799), color-stop(100%, #223344));
  background-image: -webkit-linear-gradient(top, #557799, #223344);
  background-image: -o-linear-gradient(top, #557799, #223344);
  background-image: linear-gradient(top, #557799, #223344);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#557799', endColorstr='#223344', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.container {
  width: 860px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.maincontent {
  padding-top: 20px;
  padding-bottom: 20px;
}

.topbarinner, .maincontent {
    padding-left: 20px;
    padding-right: 20px;
}


/* The white background content wrapper */
.maincontent {
  background-color: #fff;


 -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px -20px;
}
.message-container {
  margin: -20px -20px 20px -20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.maincontent .span10,
.maincontent .span4 {
  min-height: 500px;
}



#id-instructions {
    font-size: 15px;
    line-height: 20px;
    min-height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #66a;
    margin-bottom: 10px;
}

#id-verse-wrapper {
    border-radius: 5px;
    padding: 10px;
    background-color: #f0f0f0;
}

#id-verse {
    font-size: 20px;
    line-height: 40px;
}

#id-version {
    border-top: 1px solid #ccc;
    text-align: right;
}

#id-version select {
    width: auto;
}

.word {
    border: 2px solid #c0c0c0;
    border-radius: 3px;
    padding: 3px 4px;
    margin: 2px;
    background-image: linear-gradient(bottom, #C0C0C0 0%, #CCCCCC 16%, #DBDBDB 84%, #E8E8E8 99%);
    background-image: -o-linear-gradient(bottom, #C0C0C0 0%, #CCCCCC 16%, #DBDBDB 84%, #E8E8E8 99%);
    background-image: -moz-linear-gradient(bottom, #C0C0C0 0%, #CCCCCC 16%, #DBDBDB 84%, #E8E8E8 99%);
    background-image: -webkit-linear-gradient(bottom, #C0C0C0 0%, #CCCCCC 16%, #DBDBDB 84%, #E8E8E8 99%);
    background-image: -ms-linear-gradient(bottom, #C0C0C0 0%, #CCCCCC 16%, #DBDBDB 84%, #E8E8E8 99%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #C0C0C0),
	color-stop(0.16, #CCCCCC),
	color-stop(0.84, #DBDBDB),
	color-stop(0.99, #E8E8E8)
    );
    cursor: pointer;

}

.word.selected {
    border-color: blue;

    background-image: linear-gradient(bottom, #9DA0BD 0%, #ABA9C9 16%, #B8B8DB 84%, #C1BFE6 99%);
    background-image: -o-linear-gradient(bottom, #9DA0BD 0%, #ABA9C9 16%, #B8B8DB 84%, #C1BFE6 99%);
    background-image: -moz-linear-gradient(bottom, #9DA0BD 0%, #ABA9C9 16%, #B8B8DB 84%, #C1BFE6 99%);
    background-image: -webkit-linear-gradient(bottom, #9DA0BD 0%, #ABA9C9 16%, #B8B8DB 84%, #C1BFE6 99%);
    background-image: -ms-linear-gradient(bottom, #9DA0BD 0%, #ABA9C9 16%, #B8B8DB 84%, #C1BFE6 99%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #9DA0BD),
	color-stop(0.16, #ABA9C9),
	color-stop(0.84, #B8B8DB),
	color-stop(0.99, #C1BFE6)
    );
}

.word.correct {
    border-color: #00D000;
}

.word.incorrect {
    border-color: red;
}

#id-testing-status.correct {
    color: #00A113;
    font-weight: bold;
}

#id-testing-status.incorrect {
    color: #A10000;
    font-weight: bold;
}

.progress progress {
    width: 200px;
}

.progress table {
    width: auto;
}

.progress td,
.progress th {
    padding: 6px;
    vertical-align: middle;
}

.progress th.currenttask {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

table.condensed {
    margin: 0px;
}

table.condensed td, table.condensed th {
    border: none;
    padding: 0px;
    text-align: left;
}

#id-typing {
    font-size: 18px;
    height: 22px;
}


ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(/static/admin/img/icon_success.gif) 5px .3em no-repeat;
}

ul.messagelist li.warning {
    background-image: url(/static/admin/img/icon_alert.gif);
}

ul.messagelist li.error {
    background-image: url(/static/admin/img/icon_error.gif);
}

p.verselist {
    margin-left: 2em;
}

.verseset {
    padding: 15px;
    background-color: #CCE6FF;
    border-radius: 7px;
    border: 1px solid #BAD1E8;
    margin-bottom: 15px;
}

.verseset h3 {
    margin-top: 0px;
    padding-top: 0px;
    line-height: 20px;

}

.verseset form {
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;
}

#id-rightcolumn h3:first-child {
    margin-top: -9px;
}

#id-result-buttons {
    float: right;
}
