// Mostly this file appends to and therefor overrides bootstrap.less styles,
// rather than modiyfing bootstrap itself. However, we have pulled out
// various bits in order to do colour themes in this file

@import "../bootstrap/lib/bootstrap.less";
@import "sprites.less";

/* Themes */

.dotheme(@topcolour1, @topcolour2, @toplinkcolour, @btncolour1, @btncolour2) {

  .topbar div > ul,
  .nav {
    // Dropdowns within the .nav
    // a.menu:hover and li.open .menu for backwards compatibility
    a.menu:hover,
    li.open .menu,
    .dropdown-toggle:hover,
    .dropdown.open .dropdown-toggle {
      background: @topcolour1;
      background: rgba(255,255,255,.05);
    }

    // .menu-dropdown for backwards compatibility
    .menu-dropdown,
    .dropdown-menu {
      background-color: @topcolour2;
      // a.menu for backwards compatibility
      a.menu,
      .dropdown-toggle {
        color: @white;
        &.open {
          background: @topcolour1;
          background: rgba(255,255,255,.05);
        }
      }
      li a {
        color: @toplinkcolour;
        &:hover {
          #gradient > .vertical(@topcolour1, @topcolour2);
          color: @white;
        }
      }
      .active a {
        color: @white;
      }
      .divider {
        background-color: #222;
        border-color: #444;
      }
    }

    .active > a {
      background-color: @topcolour2;
      background: rgba(0,0,0,.2);
    }
  }

  .topbar {
    // Links get text shadow
    a {
      color: @toplinkcolour;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
      }
    }


  .topbar-inner,
  .topbar .fill {
    background-color: @topcolour2;
    #gradient > .vertical(@topcolour1, @topcolour2);
  }

  .btn {
    // Primary Button Type
    &.primary {
      color: @white;
      .gradientBar(@btncolour1, @btncolour2)
    }
  }

  .progress th.currenttask {
    color: @white;
    .gradientBar(@btncolour1, @btncolour2);
  }


}



// CALM

body.calm {
  background-color: #1A1A1A;
  background-image: url(/static/img/bg.jpg);
  .dotheme(@blue, @blueDark, @grayLight, @blue, @blueDark);

}

body.bubblegum {
  background-color: #e0cfb1;
  background-image: url(/static/img/bubblegum_background.jpg);
  .dotheme(#f56c26, #f00901, black, #cc3a92,  #a12667);

//  .dotheme(#cc3a92,  #a12667, #f56c26, #f00901);
//  .dotheme(#f56c26, #f00901, #00c014, #027103);
}

/* Override some defaults */

body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
  background-attachment:fixed;
  }
.container > footer p {
  text-align: center; /* center align it with the container */
  }


li {
  color: inherit;
  }

footer {
  border: none;
  color: white;
  }

.topbar-inner, .topbar .fill {
  @shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  .box-shadow(@shadow);
  }

.container {
  width: 860px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
  }


@mainSidePadding:      20px;
@mainTopPadding:       20px;

.maincontent {
  padding-top: @mainTopPadding;
  padding-bottom: @mainTopPadding;
  }

.topbarinner, .maincontent {
  padding-left: @mainSidePadding;
  padding-right: @mainSidePadding;
  }


/* The white background content wrapper */
.maincontent {
  background-color: #fff;
  .border-radius(0 0 6px 6px);
  }

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px @mainSidePadding 10px;
  }

.page-header, .message-container {
  margin-left: -@mainSidePadding;
  margin-right: -@mainSidePadding;
  margin-bottom: @mainTopPadding;
  margin-top: -@mainTopPadding;
  }


// Right column tweaks

#id-rightcolumn h3:first-child {
  margin-top: -9px;
  }


/* Messages */

ul.messagelist {
  padding: 0 0 5px 0;
  margin: 0;
  }

ul.messagelist li {
  font-size: 12px;
  display: block;
  padding: 4px 5px 4px 25px;
  margin: 0 0 3px 0;
  border-bottom: 1px solid #ddd;
  color: #666;
  background: #ffc url(/static/admin/img/icon_success.gif) 5px .3em no-repeat;
  }

ul.messagelist li.warning {
  background-image: url(/static/admin/img/icon_alert.gif);
  }

ul.messagelist li.error {
  background-image: url(/static/admin/img/icon_error.gif);
  }

/* Various pages */

p.verselist {
  margin-left: 2em;
  }

.verseset,
.actionset {
  padding: 15px;
  background-color: whiteSmoke;
  border-radius: 7px;
  border: 1px solid #E0E0E0;
  margin-bottom: 15px;
  }


.verseset h3,
.actionset h3 {
  margin-top: 0px;
  padding-top: 0px;
  line-height: 20px;

  }

.verseset form,
.actionset form {
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
  }

ul.validation-error {
  margin: 4px;
  }


/* Home page */

.homepagetitle {
  text-align: center;
  img {
    max-width:100%;
    }
  }

p.large {
  font-size: 20px;
  line-height: 30px;

  }

/* Learning page */

#id-instructions {
  font-size: 15px;
  line-height: 20px;
  min-height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #66a;
  }

#id-verse-wrapper {
  border-radius: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  }

#id-verse {
  font-size: 20px;
  line-height: 40px;
  }

#id-version {
  border-top: 1px solid #ccc;
  text-align: right;
  }

#id-instructions,
#id-verse-wrapper,
#id-test-bar {
  margin-bottom: 10px;
  }

#id-version select {
  width: auto;
  }

.word {
  border: 2px solid #C0C0C0;
  border-radius: 3px;
  padding: 3px 4px;
  margin: 2px;
  .gradientBar(#e8e8e8, #C0C0C0);
  border-top: 2px solid #D8D8D8;
  cursor: pointer;
  }

.word.selected {
  border-color: blue;
  }

.word.correct {
  border-color: #00D000;
  }

.word.incorrect {
  border-color: red;
  }

#id-testing-status.correct {
  color: #00A113;
  font-weight: bold;
  }

#id-testing-status.incorrect {
  color: #A10000;
  font-weight: bold;
  }

#id-progress-summary {
  padding: 5px;
  float: right;
  }

.progress progress {
  width: 200px;
  }

.progress table {
  width: auto;
  }

.progress td,
.progress th {
  padding: 6px;
  vertical-align: middle;
  }

#id-help-btn {
  float: right;
}

#id-typing {
  font-size: 18px;
  height: 22px;
  width:15em;
  max-width:50%;
  }

#id-result-buttons {
  float: right;
  }


// 'choose' page

#id-tab-verseset {
  table {
    // This table has side headers
    tbody td, tbody th {
      border-top: 0px;
      }
    tbody th {
      vertical-align: middle;
    }
    ul.pills {
      margin-bottom: 0px;
      }
    }
  }


// create verse set page

#id-tab-selection textarea {
  width: 95%;
}

.one-column-only {
  display: none;
}

////////////  Response to smaller screen /////////////

/* Handhelds and narrow browsers */

@smallerMainSidePadding:   10px;
@smallerMainTopPadding:    5px;

@media screen and (max-width: 859px) {

  /* fluid width */
  .container {
    width: auto;
    }
  /* no columns */
  #id-leftcolumn {
    width: auto;
    float: none;
    }
  #id-rightcolumn {
    width: auto;
    float: none;
    border-top: 1px solid #eee;
    padding-top: 5px;
    margin-top: 5px;
    }
  .row > [class*="span"] {
    display: block;
    margin: auto;
    }
  .row {
    margin: auto;
    }


  // Fix some hacks we added for rightcolumn
  #id-rightcolumn h3:first-child {
    margin-top: 0px;
    }


  /* squeeze spacings */
  .topbarinner, .maincontent {
    padding-left: @smallerMainSidePadding;
    padding-right: @smallerMainSidePadding;
    }

  .page-header {
    padding-left: @smallerMainSidePadding;
    padding-right: @smallerMainSidePadding;
    }

  .page-header, .message-container {
    margin-left: -@smallerMainSidePadding;
    margin-right: -@smallerMainSidePadding;
    }


  .two-column-only {
    display: none;
    }

  span.one-column-only {
    display:inline;
    }
  div.one-column-only {
    display:block;
    }

  .modal {
    width: 400px;
    margin: 0 -200px;
    top: 10px;
    .modal-header {
      padding: 0px;
      .close {
        margin-top: 0px;
        padding-top: 10px;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        }
      h3 {
        padding-left: 10px;
        }
      }
    }


  }

// If there is not much room vertical we squeeze paddings

@media screen and (max-height: 600px) {
  /* squeeze paddings */

  .maincontent {
    padding-top: @smallerMainTopPadding;
    padding-bottom: @smallerMainTopPadding;
    }

  .page-header {
    padding-top: 5px;
    padding-bottom: 3px;
    }

  .page-header, .message-container {
    margin-bottom: @smallerMainTopPadding;
    margin-top: -@smallerMainTopPadding;
    }

  /* no fixed top bar */
  .page-header h1 {
    margin-bottom: 3px;
    }

  .topbar {
    position: static;
    }

  body {
    padding-top: 0px;
    }

  .modal {
    // in case it is too tall for screen, so they can scroll
    position: absolute;
    top: 10px;
    margin-top: 0px;
    }

  #id-instructions,
  #id-verse-wrapper,
  #id-test-bar {
    margin-bottom: 1px;
    }

  }

// If not much room in either direction, shrink the fonts
// of the verse words to make more room

@media screen and (max-width: 600px), screen and (max-height: 500px) {

  /* smaller fonts */
  #id-verse {
    font-size: 13px;
    line-height: 28px;
    }

  #id-typing {
    font-size: inherit;
    height: inherit;
    }
  .word {
    padding: 3px 2px;
    margin: 0px;
    }

  #id-instructions {
    font-size: inherit;
    margin-bottom: 1px;
    padding: 3px;
    border-radius: 2px;
    }

  #id-verse-wrapper {
    border-radius: 3px;
    padding: 5px;
    }
  }


// Squeeze the primary nav if horizontal space is limited
@media screen and (max-width: 650px) {
  ul.primary-nav li:nth-child(5) {
    display:none;
    }

  }

@media screen and (max-width: 600px) {
  ul.primary-nav li:nth-child(4) {
    display:none;
    }

  }

@media screen and (max-width: 550px) {
  ul.primary-nav li:nth-child(3) {
    display:none;
    }
  }

@media screen and (max-width: 500px) {
  ul.primary-nav li:nth-child(2) {
    display:none;
    }

  }

// Really narrow - remove long version info
@media screen and (max-width: 500px) {
  #id-version-name {
    display:none;
    }

  }


