// Mostly this file appends to and therefor overrides bootstrap.less styles,
// rather than modiyfing bootstrap itself. However, we have pulled out
// various bits in order to do colour themes in this file

@import "../bootstrap/lib/bootstrap.less";
@import "sprites.less";

/* Themes */

.dotheme(@topColor1, @topColor2, @topLinkColour, @btnColor1, @btnColor2, @bgColor1,
         @linkColor, @footerColor) {

  @linkColorHover: darken(@linkColor, 15);

  
  a {
    color: @linkColor;
    &:hover {
      color: @linkColorHover;
    }
  }

  footer {
    color: @footerColor;
    a {
      text-decoration: underline;
      color: @footerColor;
      &:hover {
        color: @footerColor;
      }
    }
  }

  .topbar div > ul,
  .nav {
    // Dropdowns within the .nav
    // a.menu:hover and li.open .menu for backwards compatibility
    a.menu:hover,
    li.open .menu,
    .dropdown-toggle:hover,
    .dropdown.open .dropdown-toggle {
      background: @topColor1;
      background: rgba(255,255,255,.05);
    }

    // .menu-dropdown for backwards compatibility
    .menu-dropdown,
    .dropdown-menu {
      background-color: @topColor2;
      // a.menu for backwards compatibility
      a.menu,
      .dropdown-toggle {
        color: @white;
        &.open {
          background: @topColor1;
          background: rgba(255,255,255,.05);
        }
      }
      li a {
        color: @topLinkColour;
        &:hover {
          #gradient > .vertical(@topColor1, @topColor2);
          color: @white;
        }
      }
      .active a {
        color: @white;
      }
      .divider {
        background-color: #222;
        border-color: #444;
      }
    }

    .active > a {
      background-color: @topColor2;
      background: rgba(0,0,0,.2);
    }
  }

  .topbar {
    // Links get text shadow
    a {
      color: @topLinkColour;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
      }
    }


  .topbar-inner,
  .topbar .fill {
    background-color: @topColor2;
    #gradient > .vertical(@topColor1, @topColor2);
  }

  .btn {
    // Primary Button Type
    color: #333;
    &:hover {
       color: #333;
    }
    &.primary {
      color: @white;
      .gradientBar(@btnColor1, @btnColor2)
    }

    // These have been pulled out of patterns.less because some of
    // them need to appear after the .btn colour definitions above.
    // because they have equal specificity

    // Active and Disabled states
    &.active,
    &:active {
      @shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.05);
      .box-shadow(@shadow);
    }
    &.disabled {
      cursor: default;
      background-image: none;
      .reset-filter();
      .opacity(65);
      .box-shadow(none);
    }
    &[disabled] {
      // disabled pseudo can't be included with .disabled
      // def because IE8 and below will drop it ;_;
      cursor: default;
      background-image: none;
      .reset-filter();
      .opacity(65);
      .box-shadow(none);
    }


  }

  @tabborder: darken(@bgColor1, 20%);
  @tabhighlight: @bgColor1;

  .tabs {
    border-color: @tabborder;
    > li {
      > a {
         &:hover {
          background-color: @tabhighlight;
          border-color: @tabhighlight @tabhighlight @tabborder;
         }
      }
    }
    // Active state, and it's :hover to override normal :hover
    .active > a,
    .active > a:hover {
      color: @gray;
      background-color: @white;
      border: 1px solid @tabborder;
      border-bottom-color: transparent;
      cursor: default;
    }
  }

 
  .pills {

    a:hover {
      color: @white;
      background-color: @linkColorHover;
    }
    .active a {
      color: @white;
      background-color: @linkColor;
    }
  }

  .media-grid {
    a {
      border-color: @tabborder;
      &:hover {
        border-color: @linkColor;
      }
    }
  }

  .verseset, .actionset {
    background-color: @bgColor1;
    border-color: darken(@bgColor1, 10%);
    hr {
      border-bottom-color: darken(@bgColor1, 10%);
      }
  }

  .page-header {
    background-color: @bgColor1;
    border-color: darken(@bgColor1, 10%);
  }

  .score-log {
    background-color: @btnColor2;
    .gradientBar(@btnColor2, @btnColor1);
    border: 2px solid #888;
    color: @white;
  }
}

///////////// THEMES ////////////
// CALM

body.calm {
  background-color: #1A1A1A;
  background-image: url(/static/img/bg.jpg);
  .dotheme(@blue, @blueDark, @grayLight, @blue, @blueDark, #f5f5f5, #0069d6, white);

}

body.bubblegum {
  @bgcolor: #e0cfb1;
  background-color: @bgcolor;
  footer {
    background-color: @bgcolor;
    border: 1px solid darken(@bgcolor, 10%);
  }
  background-image: url(/static/img/bubblegum_background.jpg);
  .dotheme(#f56c26, #f00901, black, #cc3a92,  #a12667, #ffe0f1, #f00901, black);
  h1, h2, h3, h4, h5, .word {
    font-family: "Short Stack", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}


body.bubblegum2 {
  @bgcolor:  #a294a5;
  background-color: @bgcolor;
  footer {
    background-color: @bgcolor;
    border: 1px solid darken(@bgcolor, 10%);
  }
  background-image: url(/static/img/bubblegum2_background.jpg);
  .dotheme(lighten(#CD0074, 5%), lighten(#85004B, 5%), #e0e0e0, #679B00, darken(#679B00, 20%), #C9F76F, #CD0074, black);
  h1, h2, h3, h4, h5, .word, .testedword {
    font-family: "Short Stack", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

body.space {
  background-color: black;
  background-image: url(/static/img/space_bg.jpg);
  .dotheme(lighten(#0a0b35, 5%), black, @grayLight, lighten(#090a31, 10%), #090a31, lighten(#0069d6, 35%), darken(#0069d6, 5%), white);
  .verseset, .actionset {
    background-color: black;
    background-image: url(/static/img/space_bg_2.jpg);
    background-attachment: fixed;
    color: #dbebec;
    border-color: darken(#bebfdc, 10%);
    hr {
      border-bottom-color: darken(#bebfdc, 10%);
      }
    h2, h3, h4 {
      color: #f0f0f0;
    }
    a:link, a:visited {
      color:  lighten(#0069b6, 15);
      &:hover {
        color: lighten(#0069b6, 5);
      }
    }
  }
  h1, h2, h3, h4, h5, .word, .testedword {
    font-family: "Prosto One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

// Theme specific content

.theme-calm-only,
.theme-bubblegum-only,
.theme-bubblegum2-only {
  display:none;
}

body.calm span.theme-calm-only {
  display:inline;
}

body.bubblegum span.theme-bubblegum-only {
  display:inline;
}

body.bubblegum2 span.theme-bubblegum2-only {
  display:inline;
}


/* Override some defaults */

body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
  background-attachment:fixed;
  }
.container > footer p {
  text-align: center; /* center align it with the container */
  }


li {
  color: inherit;
  }

hr + h3 {
  margin-top: -15px;
}


footer {
  border: none;
  border-radius: 6px;
  padding-bottom: 5px;
}

.topbar-inner, .topbar .fill {
  @shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  .box-shadow(@shadow);
  }

.container {
  width: 860px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
  }


@mainSidePadding:      20px;
@mainTopPadding:       20px;

.maincontent {
  padding-top: @mainTopPadding;
  padding-bottom: @mainTopPadding;
  }

.topbarinner, .maincontent {
  padding-left: @mainSidePadding;
  padding-right: @mainSidePadding;
  }


/* The white background content wrapper */
.maincontent {
  background-color: #fff;
  .border-radius(0 0 6px 6px);
  }

/* Page header tweaks */
.page-header {
  padding: 20px @mainSidePadding 10px;
  }

.page-header, .message-container {
  margin-left: -@mainSidePadding;
  margin-right: -@mainSidePadding;
  margin-bottom: @mainTopPadding;
  margin-top: -@mainTopPadding;
  }


// Right column tweaks

#id-rightcolumn {
  h3 {
    margin-top: 18px;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;

    &:first-child {
      margin-top: 9px;
    }
  }
}

/* Messages */

ul.messagelist {
  padding: 0 0 5px 0;
  margin: 0;
  }

ul.messagelist li {
  font-size: 12px;
  display: block;
  padding: 4px 5px 4px 25px;
  margin: 0 0 3px 0;
  border-bottom: 1px solid #ddd;
  color: #666;
  background: #ffc url(/static/admin/img/icon_success.gif) 5px .3em no-repeat;
  }

ul.messagelist li.warning {
  background-image: url(/static/admin/img/icon_alert.gif);
  }

ul.messagelist li.error {
  background-image: url(/static/admin/img/icon_error.gif);
  }

/* Various pages */

p.verselist {
  margin-left: 2em;
  }

.verseset,
.actionset {
  padding: 15px;
  border-radius: 7px;
  border: 1px solid;
  margin-bottom: 15px;

  h3 {
    margin-top: 0px;
    padding-top: 0px;
    line-height: 20px;
  }

  form {
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;

    input + br + input {
      margin-top: 5px;
    }
  }
  .addclearfix {
    .clearfix();
  }

  p {
    margin-bottom: 0;
  }
}

td form {
  margin: 0px;
}

ul.validation-error {
  margin: 4px;
  }


span.chapternumber {
  font-size: 200%;
}
span.versenumber {
  vertical-align: super;
  font-size: 75%;
}

.modal form {
  margin-bottom: 0px;
}

/* Home page */

.homepagetitle {
  text-align: center;
  img {
    max-width:100%;
    }
  }

p.large {
  font-size: 20px;
  line-height: 30px;

  }

/* Learning page */

#id-instructions {
  font-size: 15px;
  line-height: 20px;
  min-height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #66a;
  }

#id-verse-wrapper {
  border-radius: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  }

.current-verse, .previous-verse {
  font-size: 20px;
  }

.previous-verse {
  display: table-cell;
  vertical-align: bottom;
  color: #909090;
}

.previous-verse-wrapper {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 0.5em;
}

#id-version {
  border-top: 1px solid #ccc;
  text-align: right;
  }

#id-instructions,
#id-verse-wrapper,
#id-test-bar {
  margin-bottom: 10px;
  }

#id-version select {
  width: auto;
  }

.normalWordBorder() {
  border-color: #C0C0C0;
  border-top-color: #D8D8D8;
  border-bottom-color: #9A9A9A;
}

.word {
  border: 2px solid;
  border-radius: 3px;
  padding: 4px 4px;
  margin: 3px 1px;
  .gradientBar(#e8e8e8, #C0C0C0);
  .normalWordBorder();
  cursor: pointer;

  &.selected {
    border-color: blue;
  }

  &.correct {
    border-color: #00D000;
  }

  &.incorrect {
    border-color: red;
  }
}
.testedword {
  margin: 5px 1px;
}
// Fix issue with IE8 not hiding words:
.wordend, .wordstart, .word, .testedword {
  display: inline-block;
}

// Hard mode - hide the clues that show word size
.hard-mode .word {
  border-left: 0px;
  border-right: 0px;
  padding: 3px 8px;
  margin: 2px -5px;
  border-radius: 0px;

  &.selected {
    // The color gives a clue to word size
    .normalWordBorder();
  }
}

#id-testing-status.correct {
  color: #00A113;
  font-weight: bold;
  }

#id-testing-status.incorrect {
  color: #A10000;
  font-weight: bold;
  }

#id-progress-summary {
  padding: 5px;
  float: right;
  }

.progress progress {
  width: 100%;
  }

#id-stage-caption {
  font-weight: bold;
}
#id-stage-caption2 {
  height: 1.3em;
}

#id-help-btn {
  float: right;
}

#id-typing {
  font-size: 18px;
  height: 22px;
  width:15em;
  max-width:50%;
  }

.result-buttons {
  float: right;
  }

.score-log {
  text-align: center;
  border-radius: 12px;
  padding: 4px;
  margin-bottom: 2px;
  font-weight: bold;
}

.score-log-type-0:after {
  content: " - initial test";
}
.score-log-type-1:after {
  content: " - revision test";
}
.score-log-type-2:before {
  content: "Super BONUS: ";
}
.score-log-type-2:after {
  content: " - all revision completed";
}
.score-log-type-3:before {
  content: "BONUS: ";
}
.score-log-type-3:after {
  content: " - perfect!";
}
.score-log-type-4:before {
  content: "BONUS: ";
}
.score-log-type-4:after {
  content: " - verse fully learnt";
}


body .score-log {
  &.score-log-type-2,
  &.score-log-type-3,
  &.score-log-type-4
  {
    border: 2px solid red;
  }
}

#id-points-block {
  height: 120px;
  overflow: hidden;
}


.verse-dropdown ul {
  list-style: none;
  margin: 0px;
  .border-radius(4px);
  .dropdown-menu {
    border: 1px solid #eee;
    top: 30px;
  }
}

// From Twitter Bootstrap 2
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "\2193";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}


// 'choose' page

#id-tab-verseset {
  table {
    // This table has side headers
    tbody td, tbody th {
      border-top: 0px;
      }
    tbody th {
      vertical-align: middle;
    }
    ul.pills {
      margin-bottom: 0px;
      }
    }
  }


// create verse set page

#id-tab-selection textarea,
#id-tab-passage textarea {
  width: 95%;
}

.icon-arrow-up, .icon-arrow-down, .icon-trash {
  cursor: pointer;
}
.one-column-only {
  display: none;
}

////////////  Response to smaller screen /////////////

/* Handhelds and narrow browsers */

@smallerMainSidePadding:   10px;
@smallerMainTopPadding:    5px;

@media screen and (max-width: 859px) {

  /* fluid width */
  .container {
    width: auto;
    }
  /* no columns */
  #id-leftcolumn {
    width: auto;
    float: none;
    }
  #id-rightcolumn {
    width: auto;
    float: none;
    border-top: 1px solid #eee;
    padding-top: 5px;
    margin-top: 5px;
  }
  .row > [class*="span"] {
    display: block;
    margin: auto;
    }
  .row {
    margin: auto;
    .span7 {
      width: 100%;
    }
  }

  // Fix some hacks we added for rightcolumn
  #id-rightcolumn h3:first-child {
    margin-top: 0px;
    }


  /* squeeze spacings */
  .topbarinner, .maincontent {
    padding-left: @smallerMainSidePadding;
    padding-right: @smallerMainSidePadding;
    }

  .page-header {
    padding-left: @smallerMainSidePadding;
    padding-right: @smallerMainSidePadding;
    }

  .page-header, .message-container {
    margin-left: -@smallerMainSidePadding;
    margin-right: -@smallerMainSidePadding;
    }


  .two-column-only {
    display: none;
    }

  span.one-column-only {
    display:inline;
    }
  div.one-column-only {
    display:block;
    }

  .modal {
    width: 400px;
    margin: 0 -200px;
    top: 10px;
    .modal-header {
      padding: 0px;
      .close {
        margin-top: 0px;
        padding-top: 10px;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        }
      h3 {
        padding-left: 10px;
        }
      }
    }


  }

// If there is not much room vertical we squeeze paddings

@media screen and (max-height: 600px) {
  /* squeeze paddings */

  .maincontent {
    padding-top: @smallerMainTopPadding;
    padding-bottom: @smallerMainTopPadding;
    }

  .page-header {
    padding-top: 5px;
    padding-bottom: 3px;
    }

  .page-header, .message-container {
    margin-bottom: @smallerMainTopPadding;
    margin-top: -@smallerMainTopPadding;
    }

  /* no fixed top bar */
  .page-header h1 {
    margin-bottom: 3px;
    }

  .topbar {
    position: static;
    }

  body {
    padding-top: 0px;
    }

  .modal {
    // in case it is too tall for screen, so they can scroll
    position: absolute;
    top: 10px;
    margin-top: 0px;
    }

  #id-instructions,
  #id-verse-wrapper,
  #id-test-bar {
    margin-bottom: 1px;
    }

  }

// If not much room in either direction, shrink the fonts
// of the verse words to make more room

@media screen and (max-width: 600px), screen and (max-height: 500px) {

  /* smaller fonts */
  .current-verse, .previous-verse {
    font-size: 15px;
    }

  #id-typing {
    font-size: inherit;
    height: inherit;
    }
  .word {
    padding: 1px 2px;
  }
  .word, .testedword {
    margin: 1px 0;
  }

  #id-instructions {
    font-size: inherit;
    margin-bottom: 1px;
    padding: 3px;
    border-radius: 2px;
    }

  #id-verse-wrapper {
    border-radius: 3px;
    padding: 5px;
    }
  }


// Squeeze the primary nav if horizontal space is limited
@media screen and (max-width: 650px) {
  ul.primary-nav li:nth-child(5) {
    display:none;
    }

  }

@media screen and (max-width: 600px) {
  ul.primary-nav li:nth-child(4) {
    display:none;
    }

  }

@media screen and (max-width: 550px) {
  ul.primary-nav li:nth-child(3) {
    display:none;
    }
  }

@media screen and (max-width: 500px) {
  ul.primary-nav li:nth-child(2) {
    display:none;
    }

  }

@media screen and (max-width: 400px) {
  .topbar a.brand {
    display:none;
    }
  }


// Really narrow - remove long version info
@media screen and (max-width: 500px) {
  #id-version-name {
    display:none;
    }

  }


