// Some of this should now be folded into base.less. However, to do
// so we have to tackle base_layout which is incompatible with the new learn
// page e.g. stuff on 'body'.

// 3rd party
@import "../bootstrap/lib/bootstrap.less";

// Common things
@import "icons.less";
@import "utils.less";
@import "themes.less";
@import "common.less";
@import "common_layout.less";
@import "sidepanel.less";

// See also isScreenLargeEnoughForSidePanels if changing this
@mainContentWidth: 860px;

// learn page specific
body.learn-page {
    // Common styles to be merged eventually:
    // To be moved to common.less once this is fully merged.

    // Can also be simplified because there will be no specificity problems,
    // and other code can be deleted.
    a:focus, :focus, .fakefocus, .btn:focus input:focus textarea:focus, select:focus {
        outline: 3px solid var(--focusOutlineColor);
        .box-shadow(none);
    }
    input:focus {
        // Needed for Chrome
        outline-offset: 0px;
    }
    // End common styles


    @topbarHeight: 36px;
    nav.topbar-new {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100; // Above everything, below help tour
        // We need a fixed height, because this element has 'position: fixed'
        // and we need to allow for that in margins on top of remaining content.
        height: @topbarHeight;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        * {
            box-sizing: border-box;
        }
        // Learn page dropdown, eventually everywhere

        // nav-dropdown is a div that contains
        // both the heading (.dropdown-heading)
        // and the menu (.nav-dropdown-menu)

        .nav-dropdown {
            position: relative; // establish container for .nav-dropdown

            &.menu-open {
                .dropdown-heading,
                .nav-dropdown-menu {
                    background-color: var(--topColor2);
                }
            }
            &.menu-pinned {
                .dropdown-heading,
                .nav-dropdown-menu {
                    background-color: var(--topColor1);
                }
            }
        }

        .latest-points {
            background-color: var(--topColor1); // to obscure what is underneath.
        }

        // .nav-item is for the content that will appear visually in the navbar
        // itself, not anything underneath (like a menu)
        .nav-item {
            height: @topbarHeight;
            line-height: @topbarHeight;
        }


        .dropdown-heading {
            height: @topbarHeight;
        }

        .nav-dropdown-menu {
            display: none;
            margin: 0px;
            overflow-y: auto;
            overflow-x: hidden;
            line-height: @topbarHeight;
            z-index: 1;

            li {
                display: block;
                white-space: nowrap;
                &.button-item {
                    text-align: center;
                }
                padding: 0 0.4em;
            }

            .menu-pin {
                border-color: var(--topTextColor);
                display: block;
                position: absolute;
                z-index: 2;
                right: 6px;
                top: 6px;
            }


            &.menu-open {
                display: block;
                position: absolute;
                top: @topbarHeight;
                right: 0px;
                max-height: 50vh;
            }

            &.menu-pinnable {
                li {
                    // Make room for 'pin' button
                    padding-right: 30px;
                }
            }

            &.menu-pinned {
                display: block;
            }
        }

        .dropdown-heading {
            padding: 0 0.4em;
        }

        .spacer {
            flex-grow: 1;
        }

        .nav-caption {
            padding-left: 4px;
        }

        i.icon-fw + .nav-caption {
            padding-left: 0px;
        }

        // Make some buttons easier to press on mobile
        .icon-return, .icon-preferences, .icon-ajax-in-progress {
            &::before {
                font-size: 120%;
                width: 1.5em;
            }
        }

    }
    nav + div {
        margin-top: @topbarHeight;
    }

    // All dropdowns, in nav or not:
    .dropdown-heading:not(.hidden):not([tabindex="-1"]) {
        cursor: pointer;
    }
    .dropdown-heading.hidden {
        cursor: default;
    }

    // Specific drop down and nav items
    .return-link .nav-caption {
        margin-right: 5px;
    }
    .session-progress {
        text-align: center;
        .progress-bar {
            box-sizing: border-box;
            padding: 3px;
            height: 24px;
            margin-top: 6px;
            position: relative;
            z-index: 1;
            border-radius: 3px;
            box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.5);
            background-color: rgba(0,0,0,0.1);

            > .filled-bar {
                height: 100%;
                background: linear-gradient(to bottom, rgba(200, 200, 200, 0.5) 0%, rgba(120, 120, 130, 0.5) 25%, rgba(80, 80, 80, 0.5) 75%, rgba(0, 0, 0, 0.5) 100%);
                border-radius: 3px;
                transition: width 0.2s ease-out;
            }

            > .progress-caption {
                z-index: 2;
                position: absolute;
                left: 0px;
                top: 0px;
                height: 100%;
                line-height: 23px;
                width: 100%;
                text-align: center;
            }
        }
    }

    .ajax-retries .icon-fw,
    .ajax-retrying {
        color: var(--topWarningColor);
    }
    .ajax-failures .icon-fw,
    .ajax-failed {
        color: var(--topErrorColor);
    }

    // Search for other instances of flashActionLogDuration in elm code if
    // changing this value.
    @flashActionLogDuration: 0.6s;

    .action-log-item {
        overflow: hidden;
        max-height: @topbarHeight * 2;
        opacity: 1;
        .animation(actionLogHeightAnimate @flashActionLogDuration ease-in-out forwards);
    }

    @keyframes actionLogHeightAnimate {
        0% {
            opacity: 0;
            max-height: 0px;
        }
        50% {
            opacity: 1;
            color: var(--topLinkHoverColor);
            max-height: @topbarHeight * 2;
        }
    }

    .total-points {
        display: inline-block;
        position: relative; // container for latest-points
        min-width: 2em;
        text-align: right;
        z-index: 1;
    }

    .latest-points {
        // Over the top of total points
        display: inline-block;
        position: absolute;
        // 1px shift to stop problem with background overflowing
        top: 1px;
        line-height: @topbarHeight - 2px;
        height: @topbarHeight - 2px;
        right: 0px;
        text-align: right;
        text-shadow: 0 0 3px white;
        z-index: 2;

        opacity: 0;
        &.flash-action-log {
            .animation(flash @flashActionLogDuration linear forwards);
        }

        @keyframes flash {
            0%, 100% { opacity: 0 }
            30% { opacity: 1 }
            70% { opacity: 1 }
        }
    }

    .session-stats {
        margin-right: 0.5em;
    }


    // TODO colours for other themes
    @bonusHighlightColour: rgba(0,255,255,0.4);
    .action-log-item, .latest-points {
        &[data-reason="PerfectTestBonus"], &[data-reason="VerseLearnt"] {
            text-shadow: 1px 1px 2px @bonusHighlightColour, -1px -1px 2px @bonusHighlightColour, -1px 1px 2px @bonusHighlightColour, 1px -1px 2px @bonusHighlightColour;
            color: var(--topLinkHoverColor);
        }
    }

    .menu-pin {
        border: 1px solid;
        background-color: inherit;
        color: inherit;
        border-radius: 2px;

        &:focus {
            outline: none;
        }

        .icon-pin-menu::before {
            transform: rotate(0deg);
            transition: transform 0.5s;
        }
    }

    .menu-pinned {
        .menu-pin {
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
            .icon-pin-menu::before {
                transform: rotate(90deg);
                transition: transform 0.5s;
            }
        }
    }

    // Main page
    #id-loading-full {
        color: #888;
        text-align: center;
        font-size: 48px;
        vertical-align: middle;
        line-height: calc(~"100vh - 2 * " @topbarHeight);
        .animation(fadeIn 1s infinite alternate);
    }

    @keyframes fadeIn {
        from { opacity: 0.25; }
    }

    #id-content-wrapper {
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-left: auto;
        margin-right: auto;
        max-width: @mainContentWidth;
        box-sizing: border-box;
    }

    // Title/verse header
    #id-verse-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 3px; // So that #id-verse-options-menu-btn border doesn't touch top

        .spacer {
            flex-grow: 1;
        }
    }

    #id-verse-strength-value {
        line-height: 36px;
        font-size: 12px;
        padding-right: 4px;
    }

    #id-verse-strength-icon {
        line-height: 36px;
        font-size: 18px;
        width: 20px;
        position: relative;
        .icon-fw {
            position: absolute;
            left: 0px;
            &::before {
                width: auto;
            }
        }

        .icon-star-o {
            z-index: 1;
        }
        .icon-star {
            z-index: 2;
        }
    }

    .blurry {
        color: transparent;
        text-shadow: 0 0 15px rgba(0,0,0,0.6);
    }

    // Options drop down
    .icon-verse-options-menu-btn {
        font-size: 1.4em;
    }

    // See also theme.less for colors
    #id-verse-options-menu-btn {
        padding-left: 5px;
        padding-right: 5px;
        border-width: 1px 1px 0px 1px;
        border-style: solid;
        z-index: 40; // > #id-verse-options-menu for border effect
        a, a:focus, a:hover {
            text-decoration: none;
        }
        background-color: var(--baseBackgroundColor);
        border-color: transparent;
        &.menu-open {
            background-color: var(--baseBackgroundColor);
            border-color: var(--bgBorderColor);
        }

    }
    #id-verse-options-menu {
        position: relative;
        ul {
            position: absolute;
            top: -1px; // for border effect
            right: 0px;
            background-color: var(--baseBackgroundColor);
            border: 1px solid var(--bgBorderColor);
            padding: 10px 5px;
            text-align: left;
            box-shadow: -1px 2px 3px rgba(128, 128, 128, 0.4);
            li {
                display: block;
                white-space: nowrap;
                padding: 5px 10px;
                a {
                    display: block;
                }
            }
            z-index: 30;  // above #id-typing, below #id-verse-options-menu-btn

            .menu-pin {
                float: right;
                margin-top: 5px;
                margin-right: 5px;
                border-color: var(--bgBorderColor);
            }
        }

        ul, li {
            margin: 0px;
        }
    }

    // Words
    #id-verse-wrapper {
        border-radius: 5px;
        padding: 10px;
        background-color: #f0f0f0;
    }

    #id-current-verse-wrapper {
        border-bottom: 1px solid #ccc;
        position: relative; // Provide container for #id-typing
        z-index: 10; // below #id-typing
    }

    #id-verse-set-link {
        float: left;
    }

    #id-copyright-notice {
        float: right;
    }

    @readingLineHeight: 1.5;
    #id-verse-set-link,
    #id-copyright-notice {
        font-size: 13px;
        line-height: @currentVerseFontSize * @readingLineHeight; // Maintain rhythm
    }

    @currentVerseFontSize: 20px;
    .current-verse, #id-typing, #id-onscreen-test-options {
        font-size: @currentVerseFontSize;
        line-height: 1; // The paddings on word buttons are enough, extra not needed
    }

    .previous-verse {
        font-size: @currentVerseFontSize;
        line-height: @readingLineHeight;
        padding-right: 15px; // Make room for #id-toggle-show-previous-verse
                             // .icon-show-previous-verse
    }

    .read-for-context {
        line-height: @readingLineHeight;
    }

    #id-onscreen-not-available {
        font-size: 20px;
    }

    .previous-verse-wrapper {
        border-bottom: 1px solid #c0c0c0;
        position: relative; // establish containing box.
        &.previous-verse-partial {
            overflow: hidden;
            height: @currentVerseFontSize * @readingLineHeight; // Constrain to showing one line only
            .previous-verse {
                position: absolute;
                bottom: 0px;
            }
        }

        .previous-verse {
            color: #909090;
        }

    }

    .normalWordBorderColors() {
        border-color: #C0C0C0;
        border-top-color: #D8D8D8;
        border-bottom-color: #9A9A9A;
    }

    @word-margin-top: 3px;
    @word-margin-left: 1px;
    @word-padding-horizontal: 4px;

    .word-button {
        border: 2px solid;
        padding: 4px @word-padding-horizontal;
        margin: @word-margin-top @word-margin-left;
        .gradientBar(#e8e8e8, #C0C0C0);
        .normalWordBorderColors();
        &.clickable {
            cursor: pointer;
        }

        &.correct {
            border-color: #00D000;
        }

        &.incorrect {
            border-color: red;
        }

        &.partially-correct {
            border-color: #D0B800;
        }

        &.current {
            border-color: black;
        }

    }
    #id-typing {
        color: black;
        // These values are important for matching size of .word-button.
        // Left padding matches to get the word to line up,
        // the others don't to give more room for typing.
        // See also setup_learn.js
        padding: 0 0 0 @word-padding-horizontal;
        margin: 0;
        border: 2px solid; // same as .word-button.
        position: absolute;
        display: none; // initially hide
        z-index: 20; // above #id-verse-wrapper, below #id-verse-options-menu
        &.incorrect {
            border-color: red;
        }
    }

    #id-typing, .word-button {
        border-radius: 3px;
    }

    .hidden {
        opacity: 0;
        -webkit-touch-callout:none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .colon {
        margin-left: 3px;
    }
    .wordend, .wordstart, .word-button, .reading-word {
        display: inline-block;
    }

    // hide the clues that show word size
    .hide-word-boundaries .word-button {
        // Making border transparent is not enough, you can still see the effect
        // of the border at the corner. So we have to reduce size to 0. We use
        // extra padding to ensure that the typing box doesn't overlap earlier
        // words. The HTML is different two - there are no space nodes rendered.
        border-left: 0px;
        border-right: 0px;
        padding-left: @word-padding-horizontal + 1px;
        padding-right: @word-padding-horizontal + 1px;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
        cursor: default;

        &.current {
            .normalWordBorderColors();
        }

    }
    .hide-word-boundaries .punct {
        margin-left: 1px;
        margin-right: 1px;
    }

    #id-hint-btn, #id-help-btn, #id-more-practice-btn, .word-button.clickable,
    #id-onscreen-test-container .word-button {
        // For Internet Explorer, remove 300ms delays on "click" event when touch
        // actions are used.
        touch-action: none;

        // Disable Safari's annoying highlight
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    h1, h2, h3, #id-verse-options-menu-btn {
        line-height: 1.4;
        padding-top: 2px;
    }

    #id-onscreen-test-container {
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 6px;
        text-align: center;
        .word-button {
            margin: 8px;
            cursor: pointer;
        }
    }

    .fixed-bottom() {
        position: fixed;
        z-index: 100;  // Above everything execpt help tour
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        height: auto;
        border-radius: 0px;
        margin: 0px;
    }

    #id-action-btns {
        float: right;
        box-sizing: border-box;
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: 0.2em;
        > * {
            margin-left: 5px;
        }

        .btn-sub-caption {
            display: block;
            text-align: center;
            padding: 2px 2px;
            font-size: 90%;
        }

        button {
            width: 100%;
        }
    }

    #id-hint-btn-container .btn {
        float: right;
        margin-top: 4px;
        margin-left: 4px;
    }

    #id-instructions {
        margin-top: 7px;
    }

    #id-help {
        margin-top: 0.5em;
        color: #606060;
        h1, h2, h3, h4 {
            color: #606060;
        }
    }

    .icon-help-toggle {
        .rotate-expanded(90deg);
    }

    #id-toggle-show-previous-verse {
        position: absolute;
        top: 0px;
        right: 0px;
        &:focus {
            outline: none;
        }
    }

    .icon-show-previous-verse {
        .rotate-expanded(-90deg);
    }

    // We may have a fixed bottom bar, but want to ensure this doesn't cover up
    // the help (and anything else) on the paage. Sometimes the bar can cover
    // half the screen, so allow room for it.
    #elm-main {
        margin-bottom: 50vh;
    }

    #id-help-tour-wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 200; // above everything except #id-help-tour-highlight
        background: rgba(0, 0, 0, 0.25);
        color: white;
        transition: background 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;

        #id-help-tour-message,
        #id-help-tour-controls {
            background: rgba(0, 0, 0, 0.9);
            padding: 1em;
        }

        #id-help-tour-message {
            text-align: center;

            p:last-child {
                margin-bottom: 0;
            }
        }

        // Overrides for different types of steps:
        &.help-tour-below {
            justify-content: flex-end;
        }

        &.help-tour-above {
            justify-content: flex-start;
        }

        // First step is different
        &.help-tour-welcome {
            background: rgba(0, 0, 0, 0.8);
            .animation(fadeInHelpTour 0.5s ease-in-out forwards);

        }
        &.help-tour-welcome, &.help-tour-finish {
            #id-help-tour-message {
                padding: 3em 1em;
            }
        }

        &.help-tour-below {
            #id-help-tour-message {
                position: fixed;
                bottom: 0px;
                left: 0px;
                max-width: 500px;
            }
        }

    }

    @keyframes fadeInHelpTour {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


    #id-help-tour-controls {
        text-align: right;
        > span {
            display: inline-block;
            margin-left: 5px;
        }
    }

    &[data-theme=calm] {
        --helpTourHighlightColor: red;
        --helpTourHighlightThickness: 2px;
    }
    &[data-theme=bubblegum] {
        --helpTourHighlightColor: #3300db;
        --helpTourHighlightThickness: 2px;
    }
    &[data-theme=bubblegum2] {
        --helpTourHighlightColor: #95e006;
        --helpTourHighlightThickness: 3px;
    }

    &[data-theme=space] {
        --helpTourHighlightColor: red;
        --helpTourHighlightThickness: 2px;
    }

    #id-help-tour-highlight {
        position: fixed;
        z-index: 210; // above everything

        path {
            stroke: var(--helpTourHighlightColor);
            stroke-thickness: var(--helpTourHighlightThickness);
            .animation(helpTourHighlightAnimate 0.3s ease-in-out forwards);
        }

        @keyframes helpTourHighlightAnimate {
            to {
                stroke-dashoffset: 0
            }
        }
    }

    // MEDIA QUERIES

    @media screen and (max-width: @narrowWidthBreak1) {
        .nav-caption {
            display: none;
        }
    }

    @media screen and (max-width: @narrowWidthBreak2) {

        nav.topbar-new {
            .nav-dropdown {
                // Do NOT establish container for .nav-dropdown,
                // because dropdown is now filliing whole width
                position: static;
            }
            .nav-dropdown-menu.menu-open {
                top: @topbarHeight;
                left: 0px;
                width: 100%;
                box-sizing: border-box;
                box-shadow: 0 3px 2px #444;
            }
        }
    }

    @word-margin-top-small: 1px;
    @word-margin-left-small: 0px;
    @word-padding-horizontal-small: 2px;

    @media screen and (max-width: @narrowWidthBreak2), screen and (max-height: @shortHeightBreak2) {

        // If not much room in either direction, shrink the fonts of the verse
        // words to make more room
        @currentVerseSmallerFontSize: 17px;
        .current-verse, .previous-verse, #id-typing, #id-onscreen-test-options, #id-onscreen-not-available, #id-typing {
            font-size: @currentVerseSmallerFontSize;
        }
        .previous-verse-wrapper {
            &.previous-verse-partial {
                height: @currentVerseSmallerFontSize * @readingLineHeight;
            }
        }

        #id-verse-set-link,
        #id-copyright-notice {
            line-height: @currentVerseSmallerFontSize * @readingLineHeight; // Maintain rhythm
        }

        .word-button {
            padding: 2px @word-padding-horizontal-small;
        }
        #id-typing {
            padding-left: @word-padding-horizontal-small;
        }
        .word-button {
            margin: @word-margin-top-small @word-margin-left-small;
        }

        #id-verse-wrapper {
            border-radius: 3px;
            padding: 5px;
        }

        #id-onscreen-test-container {
            .fixed-bottom();
            .word-button {
                // Easier to press:
                padding: 3px 5px;
                min-width: 25px;
            }
        }

        #id-action-btns {
            padding: 8px;
            border-top-style: solid;
            border-top-width: 2px;
            float: none;
            .fixed-bottom();
            justify-content: space-between;
            > * {
                &:first-child {
                    margin-left: 0;
                }
                // Make buttons easier to press on mobile
                flex-grow: 0.3;
            }
        }

        // Make options menu take up whole width, and not overlap other items on
        // the page.
        #id-verse-options-menu {
            position: static;
            ul {
                position: relative;
                top: -1px;
            }
            margin-bottom: 0.5em;
        }
    }

    // Pinned menus

    // See isScreenLargeEnoughForSidePanels in Learn.elm. 385px determined by
    // trial and error to see what looks OK.
    @screenWidthLargeEnoughForSidePanels : (@mainContentWidth + 385px);
    // 20px is to leave room for scrollbars which get included as
    // part of width.
    @sidePanelWidth: calc(~"(100vw - 20px - " @mainContentWidth ~" ) / 2");
    @sidePanelHeight: calc(~"100vh - " @topbarHeight);

    [data-actionlogsinfo-pinned] {
        @media screen and (min-width: @screenWidthLargeEnoughForSidePanels)  {
            .nav-dropdown.action-logs {
                background-color: inherit;
                position: absolute;
                left: 0px;
                top: @topbarHeight;
                width: @sidePanelWidth;
                height: @sidePanelHeight;
                overflow: auto;
            }

        }

        @media screen and (max-width: (@screenWidthLargeEnoughForSidePanels - 1px))  {
            @pinnedMenuHeight: 74px;
            .nav-dropdown.action-logs {
                // Do not form containing box for the menu, so the header
                // stays in the top bar, and just the item in the menu
                // become pinned beneath.
                position: static;
            }
            .nav-dropdown.action-logs .nav-dropdown-menu {
                position: absolute;
                left: 0px;
                top: @topbarHeight;
                width: 100%;
                height: @pinnedMenuHeight;
                overflow: auto;
            }

            nav + div {
                margin-top: (@topbarHeight + @pinnedMenuHeight);
            }
        }

        @media screen and (max-width: (@screenWidthLargeEnoughForSidePanels - 1px)) and (max-height: @shortHeightBreak2) {
            @pinnedMenuHeightShort: 37px;
            .nav-dropdown.action-logs .nav-dropdown-menu {
                height: @pinnedMenuHeightShort;
            }
            nav + div {
                margin-top: (@topbarHeight + @pinnedMenuHeightShort);
            }
        }
    }

    [data-verseoptionsmenu-pinned] {
        @media screen and (min-width: @screenWidthLargeEnoughForSidePanels) {
            #id-verse-options-menu {
                position: absolute;
                right: 0px;
                top: @topbarHeight;
                width: @sidePanelWidth;
                height: @sidePanelHeight;
                ul {
                    position: static;
                    border: none;
                    box-shadow: none;
                }
            }
            #id-verse-options-menu-btn {
                display: none;
            }
        }
    }
    @media screen and (min-width: @screenWidthLargeEnoughForSidePanels) {
        // Make room for pin button
        #id-verse-options-menu ul li {
            padding-right: 35px;
        }
    }

    @media screen and (max-width: (@screenWidthLargeEnoughForSidePanels - 1px)) {
        #id-verse-options-menu {
            .menu-pin {
                display: none;
            }
        }
    }

}
