/* Messages and notices */

// messages are from django.contrib.messages

// notices are custom, and permament until dismissed

.notice, .clearnotices, ul.messagelist li {
    color: #666;
    background-color: #ffc;
    border-bottom: 1px solid #ddd;
    padding: 4px var(--mainSidePadding);
    .close {
        font-size: 24px;
        line-height: 24px;
    }

    img {
        vertical-align: middle;
    }
}

.donation-drive.notice {
    text-align: center;
    background: #FF8B00;
    color: #000000;

    a:link, a:visited {
        color: white;
        font-weight: bold;
    }

    .donation-drive-stats {
        margin-top: 4px;
        border: 1px solid #fff;
        background-color: #ffa020;
        padding: 5px 2px 2px;

        .target, .raised {
            font-weight: bold;
        }

        .chart-container {
            display: inline-block;
            margin: 0px 7px;
            width: 100px;
            border: 1px solid black;
            vertical-align: top;
        }
        .chart-container, .fraction {
            height: 15px;
        }
        .fraction {
            display: block;
            background-color: #8df;
        }
    }
}
.clearnotices {
    text-align: right;
}

ul.messagelist {
    padding: 0;
    margin: 0;
}

ul.messagelist li {
    display: block;
    background-image: url(/static/admin/img/icon-yes.svg);
    background-position: 5px 8px;
    background-repeat: no-repeat;
}

ul.messagelist li.warning {
    background-image: url(/static/admin/img/icon-alert.svg);
}

ul.messagelist li.error {
    background-image: url(/static/admin/img/icon-alert.svg);
}

@media screen and (max-width: @narrowWidthBreak1) {
    ul.messagelist li {
        background-position: ~"calc(100% - 10px) 8px";
    }
}
