
// Progress page


.verse-popup-btn {
    font-size: 80%;
    padding: 2px 6px;
}

.verse-options-container {
    clear: both;
    p, form {
        margin: 0;
    }
    p + p, form + form {
        margin-top: @baseGapSize;
    }
}

.verse-options {
    text-align: center;
    form {
        margin-bottom: 10px;
    }
    form:last-child {
        margin-bottom: 0px;
    }
    margin-bottom: 0px;
}

.verse-progress-data {
    th:first-child {
        width: 100%;
    }
}
