
/* Themes */

.dotheme(@topColor1, @topColor2,
         @topLinkColor, @topLinkHoverColor,
         @btnColor1, @btnColor2,
         @bgColor1, @linkColor, @footerColor,
         @topWarningColor, @topErrorColor,
         @focusOutlineColor,
         @themeFont) {

    @topTextColor: @topLinkColor;
    @linkColorHover: darken(@linkColor, 15);
    @bgBorderColor: darken(@bgColor1, 10%);
    @baseBackgroundColor: white;

    // Styles at this level are applied to 'body' element.
    color: @baseTextColor;
    background-color: @baseBackgroundColor;
    // We are slowly moving towards using variables everywhere,
    // which will make most of the 'doTheme' mixin obsolete.
    --topColor1: @topColor1;
    --topColor2: @topColor2;
    --topTextColor: @topTextColor;
    --topLinkColor: @topLinkColor;
    --btnColor1: @btnColor1;
    --btnColor2: @btnColor2;
    --bgColor1: @bgColor1;
    --bgBorderColor: @bgBorderColor;
    --linkColor: @linkColor;
    --footerColor: @footerColor;
    --linkColorHover: @linkColorHover;
    --topLinkHoverColor: @topLinkHoverColor;
    --baseTextColor: @baseTextColor;
    --baseBackgroundColor: @baseBackgroundColor;
    --topWarningColor: @topWarningColor;
    --topErrorColor: @topErrorColor;
    --focusOutlineColor: @focusOutlineColor;

    a {
        color: @linkColor;
        &:hover {
            color: @linkColorHover;
        }
    }

    footer {
        color: @footerColor;
        a {
            text-decoration: underline;
            color: @footerColor;
            &:hover {
                color: @footerColor;
            }
        }
    }

    .topbar-wrapper, nav.topbar-new, .nav {
        background-color: @topColor1;
        color: @topTextColor;
        a {
            text-decoration: none;
            color: @topLinkColor;
            text-shadow: 0 -1px 0 rgba(0,0,0,.25);
            &:hover {
                color: @topLinkHoverColor;
            }
        }

        .dropdown {
            &.open .dropdown-toggle {
                background: @topColor2;
            }
            .dropdown-menu {
                background-color: @topColor2;
                a:hover {
                    background: @topColor1;
                }
                .active a {
                    color: @white;
                }
            }
        }
    }

    nav.topbar-new {
        // New learn page, eventually new topbar everywhere:

        .dropdown-heading:not([tabindex="-1"]):hover {
            color: @topLinkHoverColor;
        }

        .nav-dropdown-menu {
            color: @topLinkColor;
            padding: 2px 5px;
            a {
                text-decoration: none;
                color: @topLinkColor;
                &:hover {
                    color: white;
                }
            }

            li:not(:last-child):not(.button-item) {
                border-bottom: 1px solid @topLinkColor;
            }
        }
    }

    .btn {
        // Primary Button Type
        color: #333;
        &:hover {
            color: #333;
        }
        &.primary {
            color: @white;
            .gradientBar(@btnColor1, @btnColor2)
        }

        // These have been pulled out of patterns.less because some of
        // them need to appear after the .btn color definitions above.
        // because they have equal specificity

        // Active and Disabled states
        &.active,
        &:active {
            box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.05);
        }
        &.disabled {
            cursor: default;
            background-image: none;
            .reset-filter();
            opacity: 0.65;
            box-shadow: none;
        }
        &[disabled] {
            // disabled pseudo can't be included with .disabled
            // def because IE8 and below will drop it ;_;
            cursor: default;
            background-image: none;
            .reset-filter();
            opacity: 0.65;
            box-shadow: none;
        }


    }

    .verseset, .actionset, .borderedbox, .activityitem, .groupcomments, .is-following {
        background-color: @bgColor1;
        border-color: @bgBorderColor;
        hr {
            border-bottom-color: @bgBorderColor;
        }
    }

    .activitystream .activityitem.following {
        border-top-color: @linkColor;
        border-bottom-color: @linkColor;
    }



    .activityitem .commentindicator,
    .commentblock,
    .relatedaddcomment,
    .is-not-following {
        border-color: @bgBorderColor;
    }

    .action-log {
        background-color: @btnColor2;
        .gradientBar(@btnColor2, @btnColor1);
        border: 2px solid #888;
        color: @white;
    }


    h1, h2, h3, h4, h5,
    .word, .testedword, // TODO this line - from old /learn/ page, remove
    .word-button, .current-verse, .previous-verse, #id-typing {
        font-family: ~"@{themeFont}";
    }

    #id-onscreen-test-container {
        background-color: @bgColor1;
        border-color: darken(@bgColor1, 20%);
    }
    #id-action-btns {
        border-color: darken(@bgColor1, 20%);
    }

    .streak {
        color: @linkColor;
        font-family: ~"@{themeFont}";
    }

    #id-loading-full {
        font-family: ~"@{themeFont}";
    }
}

///////////// THEMES ////////////
// CALM

body[data-theme=calm] {
    .dotheme(darken(@blue, 10%), lighten(@blueDark, 10%),
             @grayLight, white,
             @blue, @blueDark,
             #f5f5f5, #0069d6, white,
             yellow, #ff2e2e,
             rgba(0, 255, 255, 0.5),
             '"Cuprum", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif');
}

body.base-page[data-theme=calm] {
    background-color: #1A1A1A;
    background-image: url(/static/img/bg.jpg);
}

body[data-theme=bubblegum] {
    .dotheme(#f56c26, #f00901,
             black, white,
             #cc3a92,  #a12667,
             #ffe0f1, #f00901, black,
             yellow, #30f0ff,
             rgba(255, 000, 120, 0.8),
             '"Short Stack", "Helvetica Neue", Helvetica, Arial, sans-serif');

}

body.base-page[data-theme=bubblegum] {
    @bgcolor: #e0cfb1;
    background-color: @bgcolor;
    footer {
        background-color: @bgcolor;
        border: 1px solid darken(@bgcolor, 10%);
    }
    background-image: url(/static/img/bubblegum_background.jpg);
}


body[data-theme=bubblegum2] {
    .dotheme(lighten(#CD0074, 5%), lighten(#85004B, 5%),
             #e0e0e0, white,
             #679B00, darken(#679B00, 20%),
             #C9F76F, #CD0074, black,
             #95e006, black,
             rgba(0, 255, 0, 0.8),
             '"Short Stack", "Helvetica Neue", Helvetica, Arial, sans-serif');
}

body.base-page[data-theme=bubblegum2] {
    @bgcolor:  #a294a5;
    background-color: @bgcolor;
    footer {
        background-color: @bgcolor;
        border: 1px solid darken(@bgcolor, 10%);
    }
    background-image: url(/static/img/bubblegum2_background.jpg);
}


body[data-theme=space] {
    .dotheme(lighten(#0a0b35, 5%), black,
             @grayLight, white,
             lighten(#090a31, 10%), #090a31,
             lighten(#0069d6, 35%), darken(#0069d6, 5%), white,
             yellow, red,
             rgba(50, 150, 250, 0.8),
             '"Prosto One", "Helvetica Neue", Helvetica, Arial, sans-serif');
    .verseset, .actionset, .borderedbox {
        background-color: black;
        background-image: url(/static/img/space_bg_2.jpg);
        background-attachment: fixed;
        color: #dbebec;
        border-color: darken(#bebfdc, 10%);
        hr {
            border-bottom-color: darken(#bebfdc, 10%);
        }
        h2, h3, h4 {
            color: #f0f0f0;
        }
        a:link, a:visited {
            color:  lighten(#0069b6, 15);
            &:hover {
                color: lighten(#0069b6, 5);
            }
        }
    }
}

body.base-page[data-theme=space] {
    background-color: black;
    background-image: url(/static/img/space_bg.jpg);
}

// Theme specific content

.theme-calm-only,
.theme-bubblegum-only,
.theme-bubblegum2-only,
.theme-space-only {
    display:none;
}

body[data-theme=calm] span.theme-calm-only,
body[data-theme=bubblegum] span.theme-bubblegum-only,
body[data-theme=bubblegum2] span.theme-bubblegum2-only,
body[data-theme=space] span.theme-space-only {
    display:inline;
}
