{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% if title %}{{ title }} - {% endif %}LearnScripture.net{% endblock %}</title>
    <meta name="description" content="{% block description %}The fun, easy and social way to memorize the Bible online{% endblock %}">
    {% if noindex_but_follow  %}
      <meta name="robots" content="noindex, follow">
    {% endif %}
    {% include "learnscripture/head_inc.html" %}
    {% render_bundle 'base' 'css' 'DEFAULT' attrs='charset="utf-8"' %}

    {% block extracss %}
    {% endblock %}
  </head>

  <body class="base-page {% block body_extra_class %}{% endblock %}" data-theme="{{ current_theme }}">
    <div class="topbar-wrapper">
      <div class="container">
        <nav class="topbar primary-nav">
          {% if not use_dashboard_nav %}
            <div class="nav-item">
              {% if request.identity.default_to_dashboard %}
                <a class="brand" href="/dashboard/" title="Dashboard">Dashboard</a>
              {% else %}
                <a class="brand" href="/">Learn Scripture</a>
              {% endif %}
            </div>
          {% endif %}
          {% for m in menuitems %}
            <div class="nav-item {% if m.active %}active{% endif %}"><a href="{{ m.path }}">{{ m.caption }}</a></div>
          {% endfor %}
          <div class="nav-item spacer"></div>
          <div class="nav-dropdown">
            <div class="dropdown-heading nav-item">
              <a href="#">
                {% if request_account %}{{ request_account.username }}{% else %}Guest{% endif %} <i class="icon-caret-down"></i>
              </a>
            </div>
            <ul class="nav-dropdown-menu">
              {% if not request_account %}
                <li><a href="{% url 'login' %}"><i class="icon-fw icon-login"></i> Sign in</a></li>
                <li><a href="{% url 'signup' %}?next={{ request.get_full_path|urlencode }}"><i class="icon-fw icon-account"></i> Create account</a></li>
              {% endif %}
              <li><a href="{% url 'preferences' %}?next={{ request.path_info }}" class="preferences-link"><i class="icon-fw icon-preferences"></i> Preferences</a></li>
              {% if request_account %}
                <li><a href="{% url 'account_details' %}"><i class="icon-fw icon-account"></i> Account details</a></li>
                <li><a href="{% url 'user_verses' %}"><i class="icon-fw icon-progress"></i> Verse progress</a></li>
                <li><a href="{% url 'user_verse_sets' %}"><i class="icon-fw icon-verse-sets"></i> Verse sets</a></li>
                <li><a href="{% url 'user_stats' request_account.username %}"><i class="icon-fw icon-stats"></i> Stats</a></li>
                <li><a href="#" class="logout-link"><i class="icon-fw icon-logout"></i> Log out</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="relative-container">
        <div id="id-ajax-status" style="display: none;">
          <span id="id-ajax-loading" style="display: none;">
            {% include "learnscripture/loading_animation.html" %}
          </span>
          <span id="id-ajax-errors"></span>
        </div>
      </div>

      <div class="maincontent">
        <div class="page-header">
          <h1>{% block page_title %}{{ title }}{% endblock %}<a name="id-page-top">§</a></h1>
        </div>

        {% block messages %}
          {% if site_notices %}
            <div class="message-container">
              {% for notice in site_notices %}
                <div class="notice">
                  {{ notice.message_html|safe }}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% block donation_drives %}
            {% if donation_drives %}
              <div class="message-container">
                {% for dd in donation_drives %}
                  <div class="notice donation-drive">
                    {{ dd.message_html|safe }}
                    {% if dd.target > 0  %}
                      <div class="donation-drive-stats">
                        Raised: <span class="raised">£{{ dd.amount_raised }}</span>
                        <span class="chart-container"><span class="fraction" style="width: {{ dd.percentage_raised }}%;"></span></span>
                        Target: <span class="target">£{{ dd.target }}</span>
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endblock %}

          {% if notices %}
            <div class="message-container">
              {% for notice in notices %}
                <div class="notice">
                  <a class="close" title="Clear this message" href="#" data-notice-id="{{ notice.id }}">×</a>
                  {{ notice.message_html|safe }}
                </div>
              {% endfor %}
              {% if notices.0.is_old %}
                <div class="clearnotices">
                  You can clear these notices with the cross here ↑
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if messages %}
            <div class="message-container">
              <ul class="messagelist">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}

      </div>

      <footer>
        {% block referral_links %}
          {% if request_account and include_referral_links %}
            <p class="referral-link-section">
              Share link: <span class="referral-link">{% include "learnscripture/referral_link_control.html" with link=referral_link %}</span> | <a href="/referral-program/">What's this?</a>
            </p>
          {% endif %}
        {% endblock %}
        <p><a href="/help/">Help</a> |
          <a href="/about/">About</a> |
          <a href="/terms-of-service/">Terms of service</a> |
          <a href="/privacy-policy/">Privacy and cookies</a> |
          <a href="/bible-versions/">Bible versions</a> |
          <a href="/referral-program/">Referral program</a> |
          <a href="/contact/">Contact us</a></p>
        <p>&copy; LearnScripture.net 2012-2018</p>

        <div class="footer-permission-links">
          <p>Bible texts and catechisms used with permission:</p>
          <p>
            <a href="http://bible.org/">NET Bible</a> |
            <a href="http://www.esv.org/">ESV Bible</a> |
            <a href="http://www.newcitycatechism.com/">New City Catechism</a> |
            <a href="http://www.prpbooks.com/Westminster-Shorter-Catechism-in-Modern-English-158.html">Westminster Shorter Catechism in Modern English</a>
          </p>
        </div>

      </footer>

    </div> <!-- /container -->


    <!-- popup forms -->
    {% include "learnscripture/preferences_form_inc.html" %}


    <!-- preferences data -->
    {% include "learnscripture/preferences_data_inc.html" %}

    {% render_bundle 'base' 'js' 'DEFAULT' %}

    {% block extrajs %}
    {% endblock %}

    {% if url_after_logout %}
      <div id="url-after-logout">{{ url_after_logout }}</div>
    {% endif %}

    {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
      <script type="text/javascript">

       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

      </script>
    {% endif %}

    {% include "learnscripture/theme_fonts_inc.html" %}
  </body>
</html>
