{% load url from future %}
{% load compress %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} :: Learn Scripture.net</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0" />

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% compress css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/learnscripture.less" charset="utf-8" />

    {% endcompress %}

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tabs.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-buttons.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/learn.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/accounts.js"></script>
    {% endcompress %}

  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="topbarinner">
          <a class="brand" href="/">Learn Scripture</a>
          <ul class="nav primary-nav">
            {% for m in menuitems %}
            <li {% if m.active %}class="active"{% endif %}><a href="{{ m.path }}">{{ m.caption }}</a></li>
            {% endfor %}
          </ul>
          {% if request.identity %}
          <div class="nav secondary-nav">
            <ul>
              <li class="dropdown" data-dropdown="dropdown">
                <a href="#" id="id-session-menu" class="dropdown-toggle holds-username">{% if request.identity.account %}{{ request.identity.account.username }}{% else %}Guest{% endif %}</a>
                <ul class="dropdown-menu">
                  {% if not request.identity.account %}
                  <li><a href="#" class="login-link">Sign in</a></li>
                  <li><a href="#" class="signup-link">Create account</a></li>
                  {% endif %}
                  <li><a href="{% url 'preferences' %}?next={{ request.path_info }}">Preferences</a></li>
                  {% if request.identity.account %}
                  <li><a href="#" class="logout-link">Log out</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="maincontent">
        <div class="page-header">
          <h1>{% block page_title %}{% endblock %}</h1>
        </div>
        {% if messages %}
        <div class="message-container">
          <ul class="messagelist">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}

      </div>

      <footer>
        <p>&copy; LearnScripture.net 2012</p>
      </footer>

    </div> <!-- /container -->


<!-- popup forms -->
<div id="id-signup-form" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Create account</h3>
  </div>

  <div class="modal-body">
    <form action="" method="POST">
      {% csrf_token %}
      {{ signup_form|bootstrap }}
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" id="id-create-account-btn" class="btn primary default">Create account</a>
    <a href="#" id="id-create-account-cancel-btn" class="btn secondary">Cancel</a>
  </div>
</div>



<div id="id-login-form" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Sign in</h3>
  </div>

  <div class="modal-body">
    <form action="" method="POST">
      {% csrf_token %}
      {{ login_form|bootstrap }}
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" id="id-sign-in-btn" class="btn primary default">Sign in</a>
    <a href="#" id="id-sign-in-cancel-btn" class="btn secondary">Cancel</a>
  </div>
</div>


<div id="id-logout-form" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Logout</h3>
  </div>

  <div class="modal-body">
    <form action="" method="POST">
      {% csrf_token %}
      <p>Are you sure you want to log out?</p>
      {% if not request.identity.account %}
      <p><strong>Since you have not created an account,
          all your progress will be lost if you log out.</strong></p>
      {% endif %}
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" id="id-logout-btn" class="btn primary default">Logout</a>
    <a href="#" id="id-logout-cancel-btn" class="btn secondary">Cancel</a>
  </div>
</div>


<div id="id-preferences-data" data-animations="{{ request.identity.enable_animations|yesno:"true,false,false" }}">
</div>


  </body>
</html>
