{% load bootstrap %}
{% load json_filters %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% if title %}{{ title }} - {% endif %}LearnScripture.net{% endblock %}</title>
    {% if noindex %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta name="description" content="{% block description %}The fun, easy and social way to memorize the Bible online{% endblock %}">
    <meta name="viewport" content="initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon-16x16.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon-32x32.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/touch-icon-152.png" />

    {% render_bundle 'main' 'css' 'DEFAULT' attrs='charset="utf-8"' %}

    {% block extracss %}
    {% endblock %}

  </head>

  <body class="{% if request.identity %}{{ request.identity.interface_theme }}{% else %}calm{% endif %}">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="topbarinner">
            {% if request.identity.default_to_dashboard %}
              <a class="brand" href="/dashboard/" title="Dashboard">Dashboard</a>
            {% else %}
              <a class="brand" href="/">Learn Scripture</a>
            {% endif %}
            <ul class="nav primary-nav">
              {% for m in menuitems %}
                <li {% if m.active %}class="active"{% endif %}><a href="{{ m.path }}">{{ m.caption }}</a></li>
              {% endfor %}
            </ul>
            <div class="nav secondary-nav">
              <ul>
                <li class="dropdown" data-dropdown="dropdown">
                  <a href="#" id="id-session-menu" class="dropdown-toggle">{% if request_account %}{{ request_account.username }}{% else %}Guest{% endif %}</a>
                  <ul class="dropdown-menu">
                    {% if not request_account %}
                      <li><a href="{% url 'login' %}"><i class="icon-fw icon-login"></i> Sign in</a></li>
                      <li><a href="{% url 'signup' %}?next={{ request.get_full_path|urlencode }}"><i class="icon-fw icon-account"></i> Create account</a></li>
                    {% endif %}
                    <li><a href="{% url 'preferences' %}?next={{ request.path_info }}" class="preferences-link"><i class="icon-fw icon-preferences"></i> Preferences</a></li>
                    {% if request_account %}
                      <li><a href="{% url 'account_details' %}"><i class="icon-fw icon-account"></i> Account details</a></li>
                      <li><a href="{% url 'user_verses' %}"><i class="icon-fw icon-progress"></i> Verse progress</a>
                        <li><a href="{% url 'user_verse_sets' %}"><i class="icon-fw icon-verse-sets"></i> Verse sets</a>
                          <li><a href="{% url 'user_stats' request_account.username %}"><i class="icon-fw icon-stats"></i> Stats</a></li>
                          <li><a href="#" class="logout-link"><i class="icon-fw icon-logout"></i> Log out</a></li>
                    {% endif %}
                  </ul>
                        </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="relative-container">
        <div id="id-ajax-status" style="display: none;">
          <span id="id-ajax-loading" style="display: none;">
            {% include "learnscripture/loading_animation.html" %}
          </span>
          <span id="id-ajax-errors"></span>
        </div>
      </div>

      <div class="maincontent">
        <div class="page-header">
          <h1>{% block page_title %}{{ title }}{% endblock %}</h1>
        </div>

        {% block messages %}
          {% if site_notices %}
            <div class="message-container">
              {% for notice in site_notices %}
                <div class="notice">
                  {{ notice.message_html|safe }}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% block donation_drives %}
            {% if donation_drives %}
              <div class="message-container">
                {% for dd in donation_drives %}
                  <div class="notice donation-drive">
                    {{ dd.message_html|safe }}
                    {% if dd.target > 0  %}
                      <div class="donation-drive-stats">
                        Raised: <span class="raised">£{{ dd.amount_raised }}</span>
                        <span class="chart-container"><span class="fraction" style="width: {{ dd.percentage_raised }}%;"></span></span>
                        Target: <span class="target">£{{ dd.target }}</span>
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endblock %}

          {% if notices %}
            <div class="message-container">
              {% for notice in notices %}
                <div class="notice">
                  <a class="close" title="Clear this message" href="#" data-notice-id="{{ notice.id }}">×</a>
                  {{ notice.message_html|safe }}
                </div>
              {% endfor %}
              {% if notices.0.is_old %}
                <div class="clearnotices">
                  You can clear these notices with the cross here ↑
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if messages %}
            <div class="message-container">
              <ul class="messagelist">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}

      </div>

      {% block referral_links %}
        {% if request_account and include_referral_links %}
          <div class="footer addclearfix">
            <div>
              <a id="id_referral_link" href="{{ referral_link }}">Referral link</a> | <a href="/referral-program/">What's this?</a>
            </div>
          </div>
        {% endif %}
      {% endblock %}
      <footer>
        <p><a href="/help/">Help</a> |
          <a href="/about/">About</a> |
          <a href="/terms-of-service/">Terms of service</a> |
          <a href="/privacy-policy/">Privacy and cookies</a> |
          <a href="/bible-versions/">Bible versions</a> |
          <a href="/referral-program/">Referral program</a> |
          <a href="/contact/">Contact us</a></p>
        <p>&copy; LearnScripture.net 2012-2015</p>

        <div class="footer-permission-links">
          <p>Bible texts and catechisms used with permission:</p>
          <p>
            <a href="http://bible.org/">NET Bible</a> |
            <a href="http://www.esv.org/">ESV Bible</a> |
            <a href="http://www.newcitycatechism.com/">New City Catechism</a> |
            <a href="http://www.prpbooks.com/Westminster-Shorter-Catechism-in-Modern-English-158.html">Westminster Shorter Catechism in Modern English</a>
          </p>
        </div>

      </footer>

    </div> <!-- /container -->


    <!-- popup forms -->

    {% if not hide_preferences_popup %}

      <div id="id-preferences-form" class="sidepanel hide">
        <div class="close-bar backdrop">
        </div>
        <div class="sidepanel-main slider">
          <div class="sidepanel-header">
            <h3>Preferences</h3>
          </div>
          <div class="sidepanel-body">
            <form action="" method="POST">
              {% csrf_token %}

              {{ preferences_form|bootstrap }}

            </form>
          </div>
          <div class="sidepanel-footer">
            <a href="#" id="id-preferences-save-btn" class="btn primary default">Save</a>
            <a href="#" id="id-preferences-cancel-btn" class="btn secondary">Cancel</a>
          </div>
        </div>
      </div>

    {% endif %}


    <!-- preferences data -->

    <div id="id-preferences-data"
         {# NB these names are translated to preferencesSetup, enableAnimations, enableSounds, enableVibration, interfaceTheme, desktopTestingMethod, touchscreenTestingMethod #}
         data-preferences-setup="{{ request.identity.preferences_setup|yesno:"true,false,false" }}"
         data-enable-animations="{{ request.identity.enable_animations|yesno:"true,false,false" }}"
         data-enable-sounds="{{ request.identity.enable_sounds|yesno:"true,false,false" }}"
         data-enable-vibration="{{ request.identity.enable_vibration|yesno:"true,false,false" }}"
         data-interface-theme="{{ request.identity.interface_theme }}"
         data-desktop-testing-method="{{ request.identity.desktop_testing_method }}"
         data-touchscreen-testing-method="{{ request.identity.touchscreen_testing_method }}">
    </div>
    {% if request_account %}
      <div id="id-account-data"
           data-username="{{ request_account.username }}"
           data-id="{{ request_account.id }}"
           >
      </div>
    {% endif %}

    {% render_bundle 'main' 'js' 'DEFAULT' %}

    {% block extrajs %}
    {% endblock %}

    {% if url_after_logout %}
      <div id="url-after-logout">{{ url_after_logout }}</div>
    {% endif %}

    {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
      <script type="text/javascript">

       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

      </script>
    {% endif %}
    <script type="text/javascript">
     window.learnscriptureThemeFonts = {{ theme_fonts|jsonify|safe }};
    </script>
  </body>
</html>

{# We avoid the request for the CSS file if the theme is not active #}
{# Also, place at bottom to make it non-blocking #}
{% for theme, fonts in theme_fonts %}
  {% if current_theme == theme %}
    {% for font in fonts %}
      <link href="{{ font }}" rel="stylesheet" type="text/css" />
    {% endfor %}
  {% endif %}
{% endfor %}
