{% extends "base.html" %}

        {% block content %}
        <div class="row">
          <div class="span10">
            {% block leftcolumn %}
            {% endblock %}
          </div>
          <div class="span4">
            {% block rightcolumn %}
            <h3>Session status</h3>

            <p><b>Guest User</b></p>

            <div class="stats">
              <p>Words seen: 0</p>

              <p>Words learnt: 0</p>
            </div>

            <p>As a guest, your data will be safe for two weeks (assuming you don't clear
              your browser cookies).</p>

            <p><a href="">Create an account</a> to save progress permanently.</p>

            {% endblock %}
          </div>
        </div>
        {% endblock %}
