{% load render_bundle from webpack_loader %}

{% load ftl %}
{% ftlconf mode='server' bundle='learnscripture.ftl_bundles.main' %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - LearnScripture.net</title>
    <meta name="robots" content="noindex">
    {% include "learnscripture/head_inc.html" %}
    {% render_bundle 'base' 'css' 'DEFAULT' attrs='charset="utf-8"' %}
  </head>
  <body class="base-page" data-theme="calm">
    <div class="topbar-wrapper">
      <div class="container">
        <nav class="topbar primary-nav">
          <div class="nav-item">
            <a href="/">LearnScripture.net</a>
          </div>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="maincontent">
        <div class="page-header">
          <h1>{% block page_title %}{% endblock %}</h1>
        </div>
        <div>
          {% block content %}{% endblock %}
        </div>
      </div>

      <footer>
        <p>&copy; LearnScripture.net 2012-2018</p>
      </footer>
    </div>

  </body>
</html>
