{% extends "base.html" %}
{% load ftl %}

{% block title %}{{ page.title_data.title }} - LearnScripture.net{% endblock %}


{% block page_title %}
  {{ page.title_data.title }}
  {% if not page.title_data.right_language %}
    <span class="wrong-language" title="{% ftlmsg 'site-wrong-or-missing-translation' %}"><a href="/translating/""><i class="icon-fix-translation"></i></a></span>
  {% endif %}
{% endblock %}


{% block content %}
  <div>
    {% for content in page.blocks.main %}
      <div class="content">
        {% if not content.right_language %}
          <span class="wrong-language" title="{% ftlmsg 'site-wrong-or-missing-translation' %}"><a href="/translating/""><i class="icon-fix-translation"></i></a></span>
        {% endif %}
        {{ content.content_html|safe }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
