{% extends "base.html" %}

{% block content %}
<h2>Jeremiah 1:5</h2>

<div id="id-instructions">
<div class="instructions-read">
Read the verse through (preferably aloud), and click 'Next'.
</div>
<div class="instructions-recall1 instructions-recall2 instructions-recall3 instructions-recall4
            instructions-recall5" style="display:none;">
Read the verse through, filling in the gaps from your memory. Click
a word to reveal it if you can't remember. 'Next' when done.
</div>
<div class="instructions-recall6" style="display:none;">
No clues now! Can you still do it?
</div>

</div>

<div id="verse">
Before I formed you in the womb I knew you,
and before you were born I consecrated you;
I appointed you a prophet to the nations.
</div>

<table class="condensed">
  <tr>
    <td>
      Input: <input type="text" value="" id="id-typing" size="10" style="width:10em;">
    </td>
    <td><b>Arrows</b> move word. <b>Enter</b> toggles word. <b>Esc</b> clears input.<br/>
    <b>Ctrl+Right</b> - Next stage. <b>Ctrl+Left</b> - Back</td>
  </tr>
</table>

<br/>
<input type="submit" value="Back" class="btn" id="id-back-btn" style="display:none;" disabled>

<input type="submit" value="Next" class="primary btn" id="id-next-btn" style="display:none;">

<br/><br/>
<h3>Progress</h3>

<div class="progress">
  <table>
  </table>
</div>

<h3>Tips</h3>
<ul>
  <li>You can use arrow keys to move the highlighted word, and Enter to toggle it</li>
</ul>

{% endblock %}


{% block rightcolumn %}
<h3>Session status</h3>

<p><b>Guest User</b></p>

<div class="stats">
<p>Words seen: 0</p>

<p>Words learnt: 0</p>
</div>

<p>As a guest, your data will be safe for two weeks (assuming you don't clear
your browser cookies).</p>

<p><a href="">Create an account</a> to save progress permanently.</p>

{% endblock %}
