{# To keep caching simple, this page is entirely self-contained, all assets inlined #}
{% load ftl %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Offline - LearnScripture.net</title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
      body {
        background-color: #eee;
        color: #666;
        height: 100vh;
      }
      .centered {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
      }
      .centered > div {
        padding: 0 10px 40px 10px;
      }
    </style>
  </head>
  <body>
    <div class="centered">
      <div>
        <h1>{% ftlmsg 'site-offline-title' %}</h1>
        <p>{% ftlmsg 'site-offline-body-1' %} <br>
          {% ftlmsg 'site-offline-body-2' %} </p>
        <p><a href="#" onclick="window.location.reload()">{% ftlmsg 'site-offline-try-again' %}</a></p>
      </div>
    </div>
  </body>
</html>
