*.pyc
*~
*.orig
secrets.json
config/letsencrypt
settings_priv.py
TODO
TODO.org
.git/
node_modules
**/webpack_bundles/*
webpack-stats.*.json
build/
elm-stuff/
elm/elm.js
elm/tests/elm.js
Ftl/
*.aur
settings_local.py
.pytest-xdist*
.env
