-e git://github.com/riccardoscalco/Pykov.git@16cda2f2c0ed8143ddcfa25dac34d3dadc982380#egg=pykov
-e git://github.com/spookylukey/django-app-metrics.git@29408c43cc4e8241bb3a14c818154513cab0a93b#egg=django_app_metrics
aldjemy==0.9.1
-e git+https://github.com/django-ftl/python-fluent@django-ftl-0.11#egg=fluent.runtime&subdirectory=fluent.runtime
-e git+https://github.com/django-ftl/django-ftl@283c314f2f9c7c08a0dd52defa9562a07c82c8d5#egg=django-ftl
SQLAlchemy==1.1.10
amqp==2.1.4
attrs==18.2.0
billiard==3.5.0.2
celery==4.2.1
certifi==2018.11.29
concurrent-log-handler==0.9.7
django-anymail==0.10
django-autoslug==1.9.4
django-autocomplete-light==3.2.10
django-markup==1.2
django-paypal==0.5.0
django-pjax==1.4
django-spurl==0.6.5
django-webpack-loader==0.5.0
django==2.0.10
djangorestframework==3.9.1
docutils==0.14
furl==1.0.1
kombu==4.2.1
lxml==4.2.5
numpy==1.13.0
parsy==1.0.0
psycopg2-binary==2.7.7
pyquery==1.4.0
python-memcached==1.58
pytz==2018.9
raven==6.10.0
requests==2.6.0
uwsgi==2.0.15
django-capture-tag==1.0
django-mptt==0.9.0
easy-thumbnails==2.5
django-compressor==2.2
django-sql-utils==0.2.2
