PyVirtualDisplay==2.2
compare-locales==8.2.0
coverage==6.1.2
django-debug-toolbar==3.2.2
django-extensions==3.2.1
django-functest==1.5.3
elm-fluent==0.6.0
flake8==4.0.1
ipython==8.11
isort==5.10.1
mock==4.0.3
pip-tools==6.12.2
pre-commit==2.15.0
pyinotify==0.9.6
pytest-django==4.5.2
pytest-xdist[psutil]==2.4.0
pytest==6.2.5
selenium==4.1.3
Werkzeug==2.0.2
time-machine==2.6.0
fabric==3.0.0
texttable==1.6.7
-rsubmodules/fabutils/requirements.in
