-e git://github.com/spookylukey/aldjemy.git@e728913f829216056a361d0886506e41dcbae8bb#egg=aldjemy
-e git://github.com/riccardoscalco/Pykov.git@16cda2f2c0ed8143ddcfa25dac34d3dadc982380#egg=pykov
-e git://github.com/spookylukey/django-app-metrics.git@6de9e47459b9c3c1173f3289cbc71afd6fa45449#egg=django_app_metrics
-e git://github.com/spookylukey/django-autoslug.git@0a6adec1f9743743bf7d741b6845620a8f347159#egg=django-autoslug
-e git://github.com/spookylukey/django-bootstrap-form.git@b228f986e6650ad4690eedc70cca5ff044feaab2#egg=django-bootstrap-form
-e hg+https://bitbucket.org/schinckel/django-jsonfield@6c37ee0fd8f2f999b21c068e733876d937d74a00#egg=django-jsonfield
concurrent-log-handler==0.9.7
Django==1.11.6
SQLAlchemy==1.1.10
amqp==2.1.4
attrs==17.2.0
billiard==3.5.0.2
celery==4.0.2
dj_pagination==2.2.1
django-anymail==0.10
django-fiber==1.4.1
django-markup==1.2
django-paypal==0.3.6
django-spurl==0.6.4
djangorestframework==3.6.3
docutils==0.14
kombu==4.0.2
lxml==3.8.0
nodeenv==1.1.2
numpy==1.13.0
psycopg2==2.7.1
pyquery==1.2.17
python-memcached==1.58
pytz==2017.2
raven==6.1.0
requests==2.6.0
scipy==0.19.0
uwsgi==2.0.15
certifi==2017.7.27.1
parsy==1.0.0
django-webpack-loader==0.5.0
django-autocomplete-light==3.2.10
