-e git://github.com/spookylukey/aldjemy.git@e728913f829216056a361d0886506e41dcbae8bb#egg=aldjemy
-e git://github.com/riccardoscalco/Pykov.git@16cda2f2c0ed8143ddcfa25dac34d3dadc982380#egg=pykov
-e git://github.com/spookylukey/django-app-metrics.git@6de9e47459b9c3c1173f3289cbc71afd6fa45449#egg=django_app_metrics
-e git://github.com/spookylukey/django-autoslug.git@0a6adec1f9743743bf7d741b6845620a8f347159#egg=django-autoslug
-e hg+https://bitbucket.org/schinckel/django-jsonfield@6c37ee0fd8f2f999b21c068e733876d937d74a00#egg=django-jsonfield
-e git+https://github.com/django-ftl/python-fluent@django-ftl-latest#egg=fluent
SQLAlchemy==1.1.10
amqp==2.1.4
attrs==18.2.0
billiard==3.5.0.2
celery==4.0.2
certifi==2017.7.27.1
concurrent-log-handler==0.9.7
django-anymail==0.10
django-autocomplete-light==3.2.10
django-fiber==1.4.1
django-ftl==0.9.0
django-markup==1.2
django-paypal==0.3.6
django-pjax==1.4
django-spurl==0.6.4
django-webpack-loader==0.5.0
django==1.11.6
djangorestframework==3.6.3
docutils==0.14
furl==1.0.1
kombu==4.0.2
lxml==4.2.5
numpy==1.13.0
parsy==1.0.0
psycopg2==2.7.1
pyquery==1.4.0
python-memcached==1.58
pytz==2017.2
raven==6.1.0
requests==2.6.0
uwsgi==2.0.15
