psycopg2==2.4.2
south==0.7.6
Django==1.6.1
django-fiber==0.11.1
-e git+git://github.com/spookylukey/django-bootstrap-form.git@cee9d102c152240e4af07551b13755b53689dd36#egg=django-bootstrap-form
django-pagination==1.0.7
-e hg+ssh://hg@bitbucket.org/spookylukey/django-piston@8fdaee2d8608#egg=django-piston
django-debug-toolbar
python-memcached==1.48
django-autoslug==1.5.0
selenium
raven==3.1.17
django-compressor==1.3
django-spurl==0.6
urlobject==2.0.0
-e git+git://github.com/jbalogh/django-cache-machine.git@7c3d3abfc85fc26d0e522fd05e9a42fc9b9a5430#egg=django-cache-machine
pytz
paypal==0.1.3
docutils
supervisor
celery==3.1.7
-e git+https://github.com/spookylukey/django-app-metrics.git@896c58208da1057eebd0a6b1ea781152a8ad06c2#egg=django-app-metrics
django-jsonfield==0.8.5
sqlalchemy==0.7.7
-e hg+ssh://hg@bitbucket.org/mlavin/django-selectable@1d5eedd99227#egg=django-selectable
django-rstify
psutil==0.5.1
twilio==3.3.9
pyquery==1.2.4
BeautifulSoup==3.2.1
gunicorn
aldjemy==0.3.51
django-autofixture==0.3.1
django-mptt==0.6.0
django-markup==0.4
djangorestframework==2.3.8
Pillow==2.2.1
easy-thumbnails==1.4
