ansi-regex@3.0.0
aproba@1.1.2
cacache@9.2.9
detect-indent@5.0.0
glob@7.1.2
hosted-git-info@2.5.0
JSONStream@1.3.1
less@2.7.3
libnpx@9.6.0
lru-cache@4.1.1
meant@1.0.0
node-gyp@3.6.2
normalize-package-data@2.4.0
pacote@6.0.2
read-package-json@2.0.12
read-package-tree@5.1.6
readable-stream@2.3.3
request@2.81.0
safe-buffer@5.1.1
semver@5.4.1
ssri@4.1.6
strip-ansi@4.0.0
tar@4.0.1
update-notifier@2.2.0
uuid@3.1.0
which@1.3.0
worker-farm@1.5.0
write-file-atomic@2.1.0
