{% extends "base_twocol.html" %}

{% load ftl %}

{% block leftcolumn %}

  <h2>{% ftlmsg 'awards-description-subtitle' %}</h2>
  <p>{{ award.full_description }}</p>
  <p style="text-align:center"> <img src="{{ STATIC_URL }}{{ award.image_medium }}"></p>

  <h2>{% ftlmsg 'awards-achievers-subtitle' %}</h2>
  {% if award.has_levels %}
    <p>{% ftlmsg 'awards-award-highest-level' level=award.max_level %}</p>
  {% endif %}

  {% for level, receivers_count, sample_usernames, sample_award in levels %}
    {% if award.has_levels %}
      <h3>{% ftlmsg 'awards-level-subtitle' level=level %}</h3>
      <p>{{ sample_award.full_description }}.</p>
    {% endif %}
    {% if receivers_count > sample_usernames|length %}
      <p>{% ftlmsg 'awards-level-achievers-truncated' count=receivers_count%}</p>
    {% else %}
      <p>{% ftlmsg 'awards-level-achievers-all' count=receivers_count%}</p>
    {% endif %}
    <ul>
      {% for username in sample_usernames %}
        <li><a href="{% url 'user_stats' username %}">{{ username }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}

{% endblock %}


{% block rightcolumn %}
  <h3>{% ftlmsg 'site-see-also' %}</h3>
  <ul>
    <li><a href="{% url 'awards' %}">{% ftlmsg 'awards-all-available-badges' %}</a></li>
    {% if request_account %}
      <li><a href="{% url 'user_stats' request_account.username %}">{% ftlmsg 'awards-your-badges' %}</a></li>
    {% endif %}

  </ul>

  {{ block.super }}

  <h3>{% ftlmsg 'awards-your-level' %}</h3>

  {% if account_top_award %}
    {% if account_top_award.has_levels %}
      <p>{% ftlmsg 'awards-you-have-this-award-at-level' level=account_top_award.level %}</p>
    {% else %}
      <p>{% ftlmsg 'awards-you-have-this-award' %}</p>
    {% endif %}

    <p style="text-align: center">
      <img src="{{ STATIC_URL }}{{ account_top_award.image_medium }}">
    </p>
  {% else %}

    <p>{% ftlmsg 'awards-you-dont-have-this-award' %}</p>

  {% endif %}


{% endblock %}
