{% extends "base.html" %}

{% load form_rendering %}
{% load ftl %}

{% block content %}

  {% if validlink %}

    <p>{% ftlmsg 'accounts-password-reset-new-password-instructions' %}</p>

    <form action="" id="id_password-reset-form" method="post">{% csrf_token %}
      {{ form|render_form }}

      <p><button type="submit" class="btn primary">{% ftlmsg 'accounts-password-change-button' %}</button></p>
    </form>

  {% else %}

    <h2>{% ftlmsg 'accounts-password-reset-unsuccessful-title' %}</h2>

    <p>{% ftlmsg 'accounts-password-reset-unsuccessful-message' %}</p>

  {% endif %}


{% endblock %}
