{% extends "base.html" %}

{% load form_rendering %}
{% load ftl %}

{% block content %}

  {% if already_signed_up %}

    <p>{% ftlmsg 'accounts-already-logged-in-html' username=request_account.username %}</p>

  {% else %}

    <form action="" id="id_signup-form" method="POST">
      {% csrf_token %}
      {{ signup_form|render_form }}

      <p>{% ftlmsg 'accounts-signup-agree-to-terms-of-service-html' %}
      </p>

      <p>{% ftlmsg 'accounts-signup-parents-notice' %}</p>

      <div class="actions">
        <button type="submit" name="signup" class="btn primary default">{% ftlmsg 'accounts-signup-create-account-button' %}</button>
      </div>
    </form>

  {% endif %}

{% endblock %}
