{% extends 'base.html' %}

{% load url from future %}
{% load math_utils %}

{% block content %}

<p>Payment funds allow you to pay for a group of people more easily. Anyone who
belongs to the fund can use money put into the fund to pay their subscription
fees when the time comes, without having to individually go through the payment
process.
</p>

<p>Funds with 10 or more members receive a 10% discount. Funds with 50 or more
members receive a 20% discount. (These discounts are on top of any individual
discounts the members may have).</p>

<h3>Your funds</h3>

{% if funds %}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Members</th>
      <th>Discount</th>
    </tr>
  </thead>
  <tbody>
    {% for fund in funds %}
    <tr>
      <td><a href="{% url 'edit_account_fund' fund.id %}">{{ fund.name }}</a></td>
      <td>{{ fund.currency.symbol }}{{ fund.balance }} <br/>
        <nobr><a href="{% url 'topup_fund' fund.id %}">[add funds]</a></nobr>
      </td>
      <td>{% for m in fund.members.all %}{{ m.username }}{% if not forloop.last %},{% endif %}
        {% endfor %}
      </td>
      <td>{% if fund.fund_discount > 0 %}{{ fund.fund_discount|percent }}
        {% else %}None
        {% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p><a href="{% url 'add_account_fund' %}">Add another payment fund</a>.</p>

{% else %}

<p>You haven't created any payment funds. <a href="{% url 'add_account_fund' %}">Create a payment fund</a>.</p>

{% endif %}


<h3>Notes</h3>

<ul>
  <li>When using money from a payment fund, members have to renew for a whole
  year, not less.</li>
  <li>The balance in the fund can be refunded on request, but this
    may take up to one month to process.</li>
</ul>

{% endblock %}
