{% extends "base.html" %}

{% load url from future %}
{% load pagination_tags %}

{% block content %}

{% autopaginate events 40 %}

{% paginate %}

<div class="activitystream">
  {% for event in events %}
  {% with rendered=event.render_html %}
  {% ifchanged rendered %}
  {% ifchanged event.created.date %}
  <div class="timestamp">
    {{ event.created|date:"j M Y" }}
  </div>
  {% endifchanged %}
  <div class="activityitem" data-event-id="{{ event.id }}">
    <a class="icon-replace icon-comment" title="Add comment">★</a>
    {{ event.render_html }}
  </div>
  {% endifchanged %}
  {% endwith %}
  {% endfor %}
</div>

{% paginate %}

{% endblock %}
