{% load comment_utils %}
{% load dict_utils %}
{% load ftl %}

{% with rendered=event.render_html_dict|lookup:default_language_code comments=event.ordered_comments|filter_comments:request_account %}
  {% ifchanged rendered %}
    {% ifchanged event.created.date %}
      <h3 class="timestamp">
        {{ event.created|date:"j M Y" }}
      </h3>
    {% endifchanged %}
    <div class="activityitem
                {% if event.account_id in following_ids %}following{% endif %}
               "
         data-event-id="{{ event.id }}">
      {% if event.accepts_comments %}
        {# Note the two ways of showing the 'add comment box': #}
        {# - The comment count link (below) #}
        {# - The 'Add comment' link (further down) #}
        {# When an event currently has zero comments, the latter is hidden via event-show-add-comment-container CSS #}

        <span class="commentindicator">
          <a href="#" class="show-add-comment" title="{% ftlmsg 'comments-add-comment-link' %}"
             hx-get="{% url 'add_comment' model="event" instance_id=event.id new_comment_position="bottom" %}"
             hx-target="#id-event-{{ event.id }}-add-comment-container"
             hx-swap="outerHTML"

          ><i class="icon-comment"></i> <span class="commentcount">{{ comments|length }}</span></a>
        </span>
      {% endif %}
      <span class="permalink">
        <a href="{{ event.get_absolute_url }}" title="{% ftlmsg 'activity-permalink' %}"><i class="icon-link"></i></a>
      </span>
      <span class="eventdetails">
        <h4>{{ rendered }}</h4>
      </span>
      {% if event.is_new_comment %}
        <div class="commentblock">
          {% with comment=event.get_comment %}
            {% include "learnscripture/comment_inc.html" %}
          {% endwith %}
        </div>
      {% elif comments or event.accepts_comments %}
        <div class="commentblock">
          {% for comment in comments %}
            {% include "learnscripture/comment_inc.html" %}
          {% endfor %}
          {% if event.accepts_comments %}
            {% if request_account.enable_commenting or not request_account %}
              <div class="event-show-add-comment-container" id="id-event-{{ event.id }}-add-comment-container">
                <a href="#" class="show-add-comment"
                   hx-get="{% url 'add_comment' model="event" instance_id=event.id new_comment_position="bottom" %}"
                   hx-target="#id-event-{{ event.id }}-add-comment-container"
                   hx-swap="outerHTML"

                >{% ftlmsg 'comments-add-comment-link' %}</a>
              </div>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endifchanged %}
{% endwith %}
