{% extends "base_twocol.html" %}

{% load url from future %}

{% block leftcolumn %}

<h2>Description</h2>
<p>{{ award.full_description }}</p>
<p style="text-align:center"> <img src="{{ STATIC_URL }}{{ award.image_medium }}"></p>

<h2>Achievers</h2>
<p>Highest level achieved so far: <b>Level {{ award.highest_level }}</b></p>

<p>Earned by {{ receivers_count }}
  {% if receivers_count == 1 %} person:
  {% else %} people,  including:{% endif %}
</p>

<ul>
  {% for username in sample_usernames %}
  <li><a href="{% url 'user_stats' username %}">{{ username }}</a></li>
  {% endfor %}
</ul>

{% endblock %}


{% block rightcolumn %}
{{ block.super }}

<h3>Your awards</h3>

{% if account_top_award %}
<p>You have this award, at level {{ account_top_award.level }}</p>

<p style="text-align: center">
<img src="{{ STATIC_URL }}{{ account_top_award.image_medium }}">
</p>
{% else %}

<p>You don't have this award yet.</p>

{% endif %}


{% endblock %}
