{% extends "base.html" %}

{% load ftl %}
{% load markup_tags %}

{% block content %}

  {% filter linebreaks %}{% ftlmsg 'catechisms-page-intro' %}{% endfilter %}

  {% url 'contact' as contact_url %}
  <p>{% ftlmsg 'catechisms-choose-a-catechism-html' contact_url=contact_url %}</p>


  {% for catechism in catechisms %}
    {% comment %}
    The Q/A pairs count comment appears just after the description and the title,
    which will be in the same language.
    It looks better to keep the entire block in the same language, rather than
    have some of it translated, so we switch language according to the catechism
    {% endcomment %}
    {% withftl language=catechism.language_code %}
      <div class="verseset">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="catechism_id" value="{{ catechism.id }}">
          <i class="icon-public" title="{% ftlmsg 'site-public-action' %}"></i>
          <button type="submit" class="btn primary needs-preferences" id="id-learn-catechism-btn-{{ catechism.id }}">
            {% ftlmsg 'catechisms-learn-button' %}
          </button>
        </form>

        <h3><a href="{% url 'view_catechism' slug=catechism.slug %}">{{ catechism.full_name }}</a></h3>

        <p>{{ catechism.description|apply_markup:"restructuredtext" }}</p>

        <p>{% ftlmsg 'catechisms-includes-qa-pairs-count' count=catechism.qapairs.count %}</p>
      </div>
    {% endwithftl %}
  {% endfor %}

{% endblock %}
