{% extends "base_twocol.html" %}

{% load url from future %}
{% load pagination_tags %}
{% load bootstrap %}

{% block title %}
Choose verses
{% endblock %}

{% block page_title %}
Choose verses
{% endblock %}

{% block leftcolumn %}


<ul class="tabs" data-tabs="tabs">
  <li {% if active_tab == 'verseset' %}class="active"{% endif %}><a href="#id-tab-verseset">Verse sets</a></li>
  <li {% if active_tab == 'individual' %}class="active"{% endif %}><a href="#id-tab-individual">Individual verses</a></li>
</ul>

<div class="pill-content">
  <div {% if active_tab == 'verseset' %}class="active"{% endif %} id="id-tab-verseset">
    <p>Choose a set of verses to start learning (or <a href="{% url 'create_set' %}">create your own set</a>):</p>

    <table>
      <tr>
        <th>Order:</th>
        <td>
          <ul class="pills">
            <li
               {% if 'new' not in request.GET %}
               class="active"
               {% endif %}
               ><a href="?popular">Most popular first</a></li>
            <li
               {% if 'new' in request.GET %}
               class="active"
               {% endif %}
               ><a href="?new">Newest first</a></li>
          </ul>
        </td>
      </tr>
    </table>
    {% autopaginate verse_sets 10 %}

    {% for vs in verse_sets %}
    <div class="verseset">
      <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="verseset_id" value="{{ vs.id }}">
        <input type="submit" class="btn primary" value="Learn" id="id-learn-verseset-btn-{{ vs.id }}">
      </form>
      <h3>{{ vs.name }}</h3>
      {% if vs.description %}
      <p>{{ vs.description }}</p>
      {% endif %}
      {% if not vs.is_passage and vs.verse_choices.all %}
      <p>Includes the following verses:
        {% for v in vs.verse_choices.all %}
        {{ v.reference }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      {% endif %}
      <div><a href="{{ vs.get_absolute_url }}">See more</a></div>
    </div>
    {% endfor %}

    {% paginate %}

  </div>

  <div {% if active_tab == 'individual' %}class="active"{% endif %} id="id-tab-individual">
    <p>Choose a verse. You can combine a few verses together by entering
      a value in the 'End verse' box. For long passages, you should
      <a href="{% url 'create_set' %}?passage">create an 'extended passage' verse set</a>.
    </p>

    <form action="" method="GET">
      {{ verse_form|bootstrap }}
      <div class="input">
        <input type="submit" name="lookup" value="Lookup verse" class="btn primary">
      </div>
    </form>

    {% if individual_search_msg %}
    <div class="alert-message warning">{{ individual_search_msg }}</div>
    {% endif %}

    {% if individual_search_results %}
    <div class="actionset">
      <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="reference" value="{{ reference }}">
        <input type="submit" class="btn primary" value="Learn">
      </form>
      <h3>{{ individual_search_results.0.book_name }}</h3>
      <div class="verselist">
      {% for v in individual_search_results %}
      <div class="verse">
        <span class="versenumber">{{ v.chapter_number }}:{{ v.verse_number }}</span> {{ v.text }}
      </div>
      {% endfor %}
      </div>
    </div>
    {% endif %}

  </div>

</div>
{% endblock %}
