{% extends "base_twocol.html" %}

{% load url from future %}
{% load pagination_tags %}
{% load bootstrap %}
{% load spurl %}

{% block title %}
Choose verses
{% endblock %}

{% block page_title %}
Choose verses
{% endblock %}

{% block leftcolumn %}

<p>Choose a pre-made set of verses to start learning, or choose some individual
 verses.

<p>(You can also <a href="{% url 'create_set' %}">create your own verse sets</a>)</p>

<ul class="tabs" data-tabs="tabs">
  <li {% if active_tab == 'verseset' %}class="active"{% endif %}><a href="#id-tab-verseset">Verse sets</a></li>
  <li {% if active_tab == 'individual' %}class="active"{% endif %}><a href="#id-tab-individual">Individual verses</a></li>
</ul>

<div class="pill-content">
  <div {% if active_tab == 'verseset' %}class="active"{% endif %} id="id-tab-verseset">

    <table>
      <tr>
        <th>Order:</th>
        <td>
          <ul class="pills">
            <li
               {% if 'new' not in request.GET %}
               class="active"
               {% endif %}
               ><a href="{% spurl base=request.get_full_path add_query='popular' remove_query_param='new' %}">Most popular first</a></li>
            <li
               {% if 'new' in request.GET %}
               class="active"
               {% endif %}
               ><a href="{% spurl base=request.get_full_path add_query='new' remove_query_param='popular' %}">Newest first</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Search:</th>
        <td>
          <form action="" method="GET">
            <input type="text" name="q"  id="id-search-input" value="{{ request.GET.q }}"/>
            <input type="submit" class="btn primary" value="Search" id="id-search-btn" />
          </form>
        </td>
    </table>
    {% autopaginate verse_sets 10 %}

    {% if request.GET.q %}
    <h2>Search results:</h2>
    {% endif %}

    {% if not verse_sets %}
    <p>No verse sets found that match your query.</p>
    {% endif %}

    {% for vs in verse_sets %}
    <div class="verseset">
      <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="verseset_id" value="{{ vs.id }}">
        <input type="submit" class="btn primary needs-preferences" value="Learn" id="id-learn-verseset-btn-{{ vs.id }}">
      </form>
      <h3>{{ vs.name }}</h3>
      {% if vs.description %}
      <p>{{ vs.description|linebreaksbr }}<br/><br/></p>
      {% endif %}
      {% if not vs.is_passage and vs.verse_choices.all %}
      <p>Includes the following verses:
        {% for v in vs.verse_choices.all %}
        {{ v.reference }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      {% endif %}
      <div><a href="{{ vs.get_absolute_url }}">See more</a></div>
    </div>
    {% endfor %}

    {% paginate %}

  </div>

  <div {% if active_tab == 'individual' %}class="active"{% endif %} id="id-tab-individual">
    <p>Choose a verse (or a few verses). For long passages, you should
      <a href="{% url 'create_set' %}?passage">create a 'passage' verse set</a>.
    </p>

    <form action="" method="GET" class="quickfind" id="id-verse-find-form">
      <div class="clearfix">
        <label for="id_quick_find">Quick find</label>
        <div class="input">
          <input id="id_quick_find" type="text" value="" name="quick_find">
          <br/>
          example: <b>Matt 28:19</b> or <b>make disciples</b>
        </div>
      </div>

      <div class="clearfix">
        <label for="id_book">Select</label>
        <div class="input">
          <select name="book" id="id_book">
            <option value="">----</option>
            {% for b in BIBLE_BOOKS %}
            <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
          </select>
          <nobr>
          ch
          <select name="chapter_start">
          </select>
          v
          <select name="verse_start">
          </select>
          -
          <select name="verse_end">
          </select>
          </nobr>
        </div>
      </div>

      <div class="clearfix">
        <label for="id-version-select">Version</label>
        <div class="input">
          {% with current_version=default_bible_version %}
          {% include "learnscripture/version_select.html" %}
          {% endwith %}
        </div>
      </div>

     <div class="input">
        <input id="id_lookup" type="submit" name="lookup" value="Lookup verse" class="btn primary">
     </div>
     <div class="clearfix error">
       <p id="id_form_all_errors" class="form-all-errors"></p>
     </div>
    </form>

    {% if individual_search_msg %}
    <div class="alert-message warning">{{ individual_search_msg }}</div>
    {% endif %}

    <div id="id_individual_search_results">
    </div>

    <script id="id_search_result_template" type="text/x-jsrender">
      {# template for id_individual_search_results #}
      <div class="actionset">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="reference" value="[[>reference]]">
          <input type="hidden" name="version_slug" value="[[>version_slug]]">
          <input type="submit" class="btn primary needs-preferences" value="Learn">
        </form>
        <h3>[[>book_name]]</h3>
        <div class="verselist">
          [[for verses]]
          <div class="verse">
            <span class="versenumber">[[>chapter_number]]:[[>verse_number]]</span> [[>text]]
          </div>
          [[/for]]
        </div>
      </div>
    </script>

  </div>

</div>
{% endblock %}
