{% load ftl %}

<div class="more-results-container">
  <div class="paging">
    {# For PJAX 'show more', this div gets replaced with the next #}
    {# page of results, plus a new 'show more' link #}
    <span class="paging-part">
     {% ftlmsg 'pagination-showing-shown-of-total' shown=results.shown_count total=results.total %}
    </span>
    {% if results.more %}
      <span class="paging-part"><a data-pjax-more href="{{ results.more_link }}">{% ftlmsg 'pagination-show-more' %}</a></span>
    {% endif %}
    <span class="paging-part"><a href="#id-choose-verseset">{% ftlmsg 'pagination-jump-to-top' %}</a></span>
  </div>
</div>
