{# Hidden stuff #}

{# sync with template in activity_event_inc.html #}
<script id="id-comment-template" type="text/x-jsrender">
 <div class="comment">
 <span class="commentauthor">
 <a href="/user/[[>comment.author.username]]/">[[>comment.author.username]]</a>
 </span>
 <span class="timestamp">Just now</span>
 <div class="commentmessage">
 [[:comment.message_formatted]]
 </div>
 </div>
</script>

<div id="id-add-comment" class="hide">
  <div class="comment-box-wrapper">
    {% if request_account %}
      {% if request_account.enable_commenting %}
        <div class="comment-form-row">
          <textarea class="comment-box" rows="1"></textarea>
          <div>
            <button type="button" class="btn primary add-comment-btn">
              Post <i class="icon-public icon-replace" title="Public action"></i>
            </button><button type="button" class="btn cancel-comment-btn">
              Cancel
            </button>
          </div>
        </div>
        <div class="warning-note">
          This message will be public. Please do not include any sensitive information, like
          your address, in this message.
        </div>
      {% endif %}
    {% else %}
      <div>You must be <a href='{% url "login" %}?next={{ request.get_full_path|urlencode }}'>signed in</a> to add comments.</div>
    {% endif %}
  </div>
</div>
