{% extends "base_twocol.html" %}

{% load bootstrap %}

{% block title %}
{{ title }}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block leftcolumn %}

{% if barred %}
<p>{{ reason }}</p>
{% else %}

{% if set_type == 'SELECTION' %}

<form id="id-selection-verse-set-form" action="" method="POST">
  <h3>About this set</h3>
  {% csrf_token %}
  {{ verse_set_form|bootstrap }}

  <h3>Add verses</h3>

  <div id="id-selection-verse-list">
    <p>Drag/drop or use the arrows to re-order.</p>

    <table>
      <thead>
        <tr>
          <th>Reference</th>
          <th>Text ({{ request.identity.default_bible_version.slug }})</th>
        </tr>
      </thead>
      <tbody>
        {% for v in selection_verses %}
        <tr>
          <td>{{ v.reference }}</td>
          <td>{{ v.text }}</td>
          <td><i class="icon-arrow-up"></i></td>
          <td><i class="icon-arrow-down"></i></td>
          <td><a href="#"><i class="icon-trash"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="id-selection-verse-selector">
    {{ selection_verse_selector_form|bootstrap }}
  </div>

  <div id="id-selection-verse-message">
  </div>

  <div class="input">
    <a href="#" id="id-add-verse-btn" class="btn">Add</a>
  </div>

  <div class="actions">
    <input type="hidden" value="" id="id-selection-reference-list"  name="selection-reference-list">
    <input name="selection-save" type="submit" class="btn primary" value="Save verse set" id="id-selection-save-btn">
  </div>

</form>

{% endif %}

{% if set_type == 'PASSAGE' %}

<form id="id-passage-verse-set-form" action="" method="POST">
  {% csrf_token %}

  <h3>Choose passage</h3>

  <div id="id-passage-verse-selector">
    {{ passage_verse_selector_form|bootstrap }}
  </div>


  <div class="input">
    <a href="#" id="id-lookup-passage-btn" class="btn">Lookup</a>
  </div>

  <br/>
  <div id="id-passage-verse-message">
  </div>

  <div id="id-passage-verse-list">
    <p>For passages more than about 10 verses, it helps if you can add
      'breaks' at the natural breaks in the passage, to split it up into
      sections.</p>

    <table>
      <thead>
        <tr>
          <th>Break</th>
          <th>Reference</th>
          <th>Text ({{ request.identity.default_bible_version.slug }})</th>
        </tr>
      </thead>
      <tbody>
        {% for v in passage_verses %}
        <tr>
          <td><input type="checkbox" {% if v.break_here %}checked{% endif %}/></td>
          <td>{{ v.reference }}</td>
          <td>{{ v.text }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <h3>Optional extra info</h3>

  {{ verse_set_form|bootstrap }}

  <div class="actions">
    <input type="hidden" value="" id="id-passage-reference-list"  name="passage-reference-list">
    <input type="hidden" value="" id="id-passage-break-list"  name="passage-break-list">
    <input name="passage-save" type="submit" class="btn primary" value="Save verse set" id="id-passage-save-btn">
  </div>

</form>


{% endif %}

{% endif %}

{% endblock %}
