{% extends "base_twocol.html" %}
{% load url from future %}
{% load account_utils %}

{% block leftcolumn %}

{% if create_account_warning %}
<div class="actionset">
<p><b>Remember to <a href="{% url 'signup' %}">create an account</a>!</b> It
only takes a few seconds. Otherwise your progress won't be saved permanently.
</div>
{% endif %}

{% if request.identity.scoring_enabled %}

<h2>Points</h2>

<div class="actionset">
  <div style="float: right; font-size: 120%;">
    <a class="icon-stats icon-replace" href="{% url 'user_stats' request.identity.account.username %}" title="Your stats">Stats</a>
    <a class="icon-progress icon-replace" href="{% url 'user_verses' %}" title="Your progress">Progress</a>
    <a class="icon-leaderboard icon-replace" href="{% url 'leaderboard' %}?thisweek" title="Leaderboard">Leaderboard</a>
  </div>
  <div>Points:
    <b>{{ request.identity.account.points_this_week }}</b> this week,
    <b>{{ request.identity.account.points_all_time }}</b> total.
  </div>
</div>

{% endif %}

<h2>Revise</h2>

<div class="actionset">

  {### Passages ###}

  {% for vs in passages_for_revising %}
  <div class="addclearfix">
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="verse_set_id" value="{{ vs.id }}" />
    {% if vs.splittable %}
    <input type="submit" name="revisepassage" class="btn primary" value="Revise whole passage"
           id="id-revisepassage-btn-{{ vs.id }}" /><br/>
    <input type="submit" name="revisepassagenextsection" class="btn primary" value="Revise one section"
           id="id-revisepassage-sections-btn-{{ vs.id }}" />
    {% else %}
    <input type="submit" name="revisepassage" class="btn primary" value="Revise"
           id="id-revisepassage-btn-{{ vs.id }}" />

    {% endif %}
  </form>
  <h3>{{ vs.name }}</h3>
  <div>Part or all of this passage is due for revising today.</div>
  </div>
  {% if not forloop.last %}<hr>{% endif %}

  {% endfor %}

  {### Verses ###}

  {% if revise_verses_queue %}

  {% if passages_for_revising %}<hr>{% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="revisebiblequeue" class="btn primary" value="Revise" />
  </form>

  <p>You've got {{ revise_verses_queue|length }}
    verse{{revise_verses_queue|length|pluralize }} due for revising today.
  </p>

  <p>Verses coming up:
    {% include 'learnscripture/verselist.html' with verselist=revise_verses_queue %}
  </p>

  {% endif %}

  {### Catechism QAs ###}

  {% if revise_qas_queue %}

  {% if passages_for_revising or revise_verses_queue %}<hr>{% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="revisecatechismqueue" class="btn primary" value="Revise" />
  </form>

  <p>You've got {{ revise_qas_queue|length }} catechism question{{revise_qas_queue|length|pluralize }} due for revising today.
    <br><br>
  </p>

  {% endif %}

  {#### Nothing ####}

  {% if not passages_for_revising and not revise_verses_queue and not revise_qas_queue %}
  <p>Nothing needs revising at this point in time.
    {% if next_verse_due %}
    <br/>
    Next item due for revision: <b>{{ next_verse_due.short_title }}</b> in {{ next_verse_due.next_test_due|timeuntil }}
    {% endif %}
  </p>
  {% endif %}
</div>


<h2>Learn</h2>


<div class="actionset">

  {### Passages ###}

  {% for vs in passages_for_learning %}
  <div class="addclearfix">
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="verse_set_id" value="{{ vs.id }}" />
    <input type="submit" name="learnpassage" class="btn primary"
           {% if vs.tested_total == 0 %}
           value="Start learning"
           {% else %}
           value="Continue learning"
           {% endif %}
           id="id-learnpassage-btn-{{ vs.id }}" /><br>
    <input type="submit" name="cancelpassage" class="btn" value="Cancel"
           id="id-cancelpassage-btn-{{ vs.id }}" />
  </form>
  <h3><a href="{% url 'view_verse_set' vs.slug %}">{{ vs.name }}</a></h3>
    {% if vs.tested_total == 0 %}
    <p>You've queued this passage for learning.</p>
    {% else %}
  <p>You've seen {{ vs.tested_total }} verse(s) so far,
    with {{ vs.untested_total }} to go.</p>
    {% endif %}
  </div>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}


  {### Verses ###}

  {% if learn_verses_queues %}

    {% if passages_for_learning %}<hr>{% endif %}

    {% for verse_set, queue in learn_verses_queues %}
  <div class="addclearfix">
  <form action="" method="POST"
        {# for benefit of testing: #}
        id="id-learning-queue-verse-set-{{ verse_set.id }}"
        >
      {% csrf_token %}
    <input type="submit" name="learnbiblequeue" class="btn primary" value="Learn" /><br /><input type="submit" name="clearbiblequeue" class="btn" value="Clear" />
    <input type="hidden" name="verse_set_id" value="{{ verse_set.id }}" />
  </form>

      {% if verse_set %}
  <h3><a href="{% url 'view_verse_set' verse_set.slug %}">{{ verse_set.name }}</a></h3>
      {% else %}
        {% if not forloop.first %}
  <h3>Other verses</h3>
        {% endif %}
      {% endif %}

  <p>You've queued {{ queue|length }} new verse{{ queue|length|pluralize }} for learning{% if verse_set %} in this set{% endif %}.</p>

  <p>Verses coming up:
      {% include 'learnscripture/verselist.html' with verselist=queue %}
  </p>
      {% if not forloop.last %}<hr>{% endif %}
  </div>
    {% endfor %}
  {% endif %}

  {### Catechisms ###}

  {% if new_qas_queue %}

    {% if passages_for_learning or learn_verses_queues %}<hr>{% endif %}
  <div class="addclearfix">
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="learncatechismqueue" class="btn primary" value="Learn" /><br /><input type="submit" name="clearcatechismqueue" class="btn" value="Clear" />
  </form>

  <p>You've got {{ new_qas_queue|length }} catechism question{{ new_qas_queue|length|pluralize }} in your queue for learning.</p>

  </div>
  {% endif %}

  {#### Nothing ####}
  {% if not passages_for_learning and not learn_verses_queue and not new_qas_queue %}
  <div class="addclearfix">
    <p>Nothing currently in your queue for learning.</p>
  </div>
  {% endif %}

</div>

<h2>Choose</h2>

<div class="actionset">
  <p>When you're done with the above — <a href="{% url 'choose' %}">choose some verses or a passage to learn.</a></p>

</div>
{% endblock %}



{% block rightcolumn %}

{% if not request.identity.account %}
{% include 'learnscripture/session.html' %}
{% endif %}

<h3>Today's stats</h3>

<div id="id-stats-block">
{% include 'learnscripture/sessionstats.html' %}
</div>

<h3>Your groups</h3>

{% if groups %}
<ul class="grouplist">
  {% for group in groups %}
  <li>{{ group|group_link }} »
    <a class="icon-leaderboard icon-replace"
       title="leaderboard"
       href="{% url 'leaderboard' %}?thisweek&group={{ group.id }}">Leaderboard</a></li>
  {% endfor %}
  {% if more_groups %}
  <li><a href="{% url 'user_stats' request.identity.account.username %}#groups">(see all)</a></li>
  {% endif %}

</ul>
<div class="note"><a href="{% url 'groups' %}">View other groups</a></div>
{% else %}
<div>You're not in any groups yet. Why not <a href="{% url 'groups' %}">join a group?</a></div>
{% endif %}

<h3>News</h3>

<div class="eventstream">
<ul>
{% for event in events %}
<li>{{ event.render_html }}
{% if event.created %}
<br/><span class="timestamp">{{ event.created_display }}</span>
{% endif %}
</li>
{% endfor %}
</ul>
</div>

{% endblock %}
