{% extends "base_twocol.html" %}

{% load account_utils %}
{% load dict_utils %}

{% block leftcolumn %}

  {% if create_account_warning %}
    <div class="actionset">
      <p>
        <small><b>Remember to <a href="{% url 'signup' %}">create an account</a></b> -
          otherwise your progress will be lost! It only takes a few seconds, and
          enables lots of additional features like badges, groups, leaderboards
          and statistics pages.
        </small>
      </p>
    </div>
  {% endif %}

  {% if request.identity.scoring_enabled %}
    <h2>Learning events
      <a href="#"
         id="id-show-heatmap"
         >
        {% if request.identity.heatmap_default_show %}
          <i class="icon-fw icon-heatmap-toggle expanded"></i>
        {% else %}
          <i class="icon-fw icon-heatmap-toggle"></i>
        {% endif %}
      </a>
    </h2>
    <div id="id-heatmap-section" class="actionset"
         {% if not request.identity.heatmap_default_show %}
         style="display: none;"
         {% endif %}
         >
      <div style="float: right; font-size: 120%;">
        <a href="{% url 'user_stats' request_account.username %}" title="Your stats"><i class="icon-fw icon-stats"></i></a>
        <a href="{% url 'user_verses' %}" title="Your progress"><i class="icon-fw icon-progress"></i></a>
      </div>
      <div id="id-heatmap-controls">
        <button id="id-heatmap-previous"><i class="icon-left btn"></i></button>
        <button id="id-heatmap-next"><i class="icon-right btn"></i></button>
        <span id="id-heatmap-loading">{% include "learnscripture/loading_animation.html" %}</span>
        <span id="id-heatmap-domain-title"></span>
      </div>
      <div id="id-heatmap-wrapper">
        <div id="id-heatmap-div"></div>
      </div>
      <div id="id-streaks">
        <div>Longest streak:
          <span id="id-biggest-streak" class="streak">&nbsp;</span></div>
        <div>Current streak:
          <span id="id-current-streak" class="streak">&nbsp;</span></div>
      </div>
      <div id="id-heatmap-stat-selector" class="pills">
        {% for value, caption in heatmap_stats_types %}
          <span
             data-heatmap-select-stat-parent
             {% if request.identity.heatmap_default_stats_type == value %}
             class="active"
             {% endif %}
             >
            <a href="#"
               data-heatmap-select-stat="{{ value }}">{{ caption }}</a>
          </span>
        {% endfor %}
        </span>
      </div>
    </div>
  {% endif %}

  <h2>Review</h2>

  <div class="actionset">

    {### Passages ###}

    {% for cvs in passages_for_reviewing %}
      <div class="addclearfix">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="verse_set_id" value="{{ cvs.verse_set.id }}" />
          <input type="hidden" name="version_id" value="{{ cvs.version.id }}" />
          {% if cvs.splittable %}
            <input type="submit" name="reviewpassage" class="btn primary" value="Review whole passage"
                   id="id-reviewpassage-btn-{{ cvs.id }}" /><br/>
            <input type="submit" name="reviewpassagenextsection" class="btn primary"
                   value="Review one section ({{ cvs.next_section_verse_count }} vss)"
                   id="id-reviewpassage-sections-btn-{{ cvs.id }}" /><br/>
          {% else %}
            <input type="submit" name="reviewpassage" class="btn primary" value="Review"
                   id="id-reviewpassage-btn-{{ cvs.id }}" /><br/>

          {% endif %}
          <input type="submit" name="cancelpassage" class="btn" value="Cancel"
                 id="id-cancelpassage-btn-{{ cvs.id }}" /><br/>
        </form>
        <h3><a href="{% url 'view_verse_set' cvs.verse_set.slug %}?version={{ cvs.version.slug }}">{{ cvs.verse_set.smart_name_dict|lookup:cvs.version.language_code }}</a> ({{ cvs.version.short_name }})<br/>
        </h3>
        <div>
          {% if cvs.needs_testing_count == cvs.total_verse_count %}
            This passage is due for review
            ({{ cvs.total_verse_count }} verse{{ cvs.total_verse_count|pluralize }}).
          {% else %}
            Part of this passage is due for review
            ({{ cvs.needs_testing_count }}/{{ cvs.total_verse_count }} verses).
          {% endif %}
        </div>
      </div>
      {% if not forloop.last %}<hr>{% endif %}

    {% endfor %}

    {### Verses ###}

    {% if review_verses_queue %}

      {% if passages_for_reviewing %}<hr>{% endif %}

      <div class="addclearfix">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="submit" name="reviewbiblequeue" class="btn primary" value="Review" />
        </form>

        <p>You've currently got {{ review_verses_queue|length }}
          verse{{review_verses_queue|length|pluralize }} due for review.
        </p>

        <p>Verses coming up:
          {% include 'learnscripture/verselist.html' with verselist=review_verses_queue %}
        </p>
      </div>

    {% endif %}

    {### Catechism QAs ###}

    {% if catechisms_for_reviewing %}

      {% if passages_for_reviewing or review_verses_queue %}<hr>{% endif %}

      {% for catechism in catechisms_for_reviewing %}

        <div class="addclearfix">
          <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="reviewcatechismqueue" class="btn primary" value="Review" />
            <input type="hidden" name="catechism_id" value="{{ catechism.id }}">
          </form>

          <h3><a href="{% url 'view_catechism' catechism.slug %}">{{ catechism.full_name }}</a></h3>

          <p>You've currently got {{ catechism.needs_reviewing_total }} question(s) due for review.</p>
          <br><br>
        </div>

        {% if not forloop.last %}<hr>{% endif %}

      {% endfor %}
    {% endif %}

    {#### Nothing ####}

    {% if not passages_for_reviewing and not review_verses_queue and not catechisms_for_reviewing %}
      <p>Nothing in your general queue needs reviewing at this point in time.
        {% if next_verse_due %}
          <br/>
          Next item due for review: <b>{{ next_verse_due.short_title }}</b> in {{ next_verse_due.next_test_due|timeuntil }}
        {% endif %}
      </p>
    {% endif %}
  </div>


  <h2>Learn</h2>


  <div class="actionset">

    {### Passages ###}

    {% for cvs in passages_for_learning %}
      <div class="addclearfix">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="verse_set_id" value="{{ cvs.verse_set.id }}" />
          <input type="hidden" name="version_id" value="{{ cvs.version.id }}" />
          <input type="submit" name="learnpassage" class="btn primary"
                 {% if cvs.tested_total == 0 %}
                 value="Start learning"
                 {% else %}
                 value="Continue learning"
                 {% endif %}
                 id="id-learnpassage-btn-{{ cvs.id }}" /><br>
          <input type="submit" name="cancelpassage" class="btn" value="Cancel"
                 id="id-cancelpassage-btn-{{ cvs.id }}" />
        </form>
        <h3><a href="{% url 'view_verse_set' cvs.verse_set.slug %}?version={{ cvs.version.slug }}">{{ cvs.verse_set.smart_name_dict|lookup:cvs.version.language_code }}</a> ({{ cvs.version.short_name }})</h3>
        {% if cvs.tested_total == 0 %}
          <p>You've queued this passage for learning.</p>
        {% else %}
          <p>You've seen {{ cvs.tested_total }} verse{{ cvs.tested_total|length|pluralize }} so far,
            {% if cvs.needs_review_total > 0 %}<b>{{ cvs.needs_review_total }} due for review</b>,{% endif %}
            with {{ cvs.untested_total }} still to start on.</p>
        {% endif %}
      </div>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}


    {### Verses ###}

    {% if learn_verses_queues %}
      {% if passages_for_learning %}<hr>{% endif %}

      {% for verse_set, queue in learn_verses_queues %}
        <div class="addclearfix">
          <form action="" method="POST"
                {# for benefit of testing: #}
                {% if verse_set %}
                id="id-learning-queue-verse-set-{{ verse_set.id }}"
                {% else %}
                id="id-learning-queue-non-verse-set"
                {% endif %}
                >
            {% csrf_token %}
            <input type="submit" name="learnbiblequeue" class="btn primary" value="Learn" /><br /><input type="submit" name="clearbiblequeue" class="btn" value="Clear" />
            {% if verse_set %}
              <input type="hidden" name="verse_set_id" value="{{ verse_set.id }}" />
            {% endif %}
          </form>

          {% if verse_set %}
            <h3><a href="{% url 'view_verse_set' verse_set.slug %}">{{ verse_set.smart_name_dict|lookup:request.identity.default_language_code }}</a></h3>
          {% else %}
            {% if not forloop.first %}
              <h3>Other verses</h3>
            {% endif %}
          {% endif %}

          <p>You've queued {{ queue|length }} new verse{{ queue|length|pluralize }} for learning{% if verse_set %} in this set{% endif %}.</p>

          <p>Verses coming up:
            {% include 'learnscripture/verselist.html' with verselist=queue %}
          </p>
          {% if not forloop.last %}<hr>{% endif %}
        </div>
      {% endfor %}
    {% endif %}

    {### Catechisms ###}

    {% if catechisms_for_learning %}

      {% if passages_for_learning or learn_verses_queues %}<hr>{% endif %}

      {% for catechism in catechisms_for_learning %}
        <div class="addclearfix">
          <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="learncatechismqueue" class="btn primary" value="Learn" /><br /><input type="submit" name="clearcatechismqueue" class="btn" value="Cancel" />
            <input type="hidden" name="catechism_id" value="{{ catechism.id }}">
          </form>

          <h3><a href="{% url 'view_catechism' catechism.slug %}">{{ catechism.full_name }}</a></h3>
          {% if catechism.tested_total == 0 %}
            <p>You've queued this catechism for learning, {{ catechism.untested_total }} questions total.</p>
          {% else %}
            <p>You've seen {{ catechism.tested_total }} question(s) so far,
              with {{ catechism.untested_total }} to go.</p>
          {% endif %}
        </div>

      {% if not forloop.last %}<hr>{% endif %}

      {% endfor %}
    {% endif %}

    {#### Nothing ####}
    {% if not passages_for_learning and not learn_verses_queues and not catechisms_for_learning %}
      <div class="addclearfix">
        <p>Nothing currently in your queue for learning.</p>
      </div>
    {% endif %}

  </div>

  <h2>Choose</h2>

  <div class="actionset">
    <p>When you're done with the above — <a href="{% url 'choose' %}">choose some verses or a passage to learn.</a></p>

  </div>
{% endblock %}



{% block rightcolumn %}

  {% if not request_account %}
    {% include 'learnscripture/session.html' %}
  {% endif %}

  <h3>Today's stats</h3>

  <div id="id-stats-block">
    {% include 'learnscripture/sessionstats.html' %}
  </div>

  <h3>Your groups</h3>

  {% if groups %}
    <ul class="grouplist">
      {% for group in groups %}
        <li>{{ group|group_link }} »
          <a
       title="leaderboard"
       href="{% url 'group_leaderboard' group.slug %}?thisweek">Leaderboard <i class="icon-leaderboard icon-replace"></i></a></li>
      {% endfor %}
      {% if more_groups %}
        <li><a href="{% url 'user_stats' request_account.username %}#groups">(see all)</a></li>
      {% endif %}

    </ul>
    <div class="note"><a href="{% url 'groups' %}">View other groups</a></div>
  {% else %}
    <div>You're not in any groups yet. Why not <a href="{% url 'groups' %}">join a group?</a></div>
  {% endif %}

  <h3>News <a href="{% url 'activity_stream' %}">(see more)</a></h3>

  <div class="eventstream">
    <ul>
      {% for event in events %}
        <li>
          <span class="commentindicator">
            {% if event.accepts_comments %}
              <a href="{{ event.get_absolute_url }}" title="View/add comments"><i class="icon-comment"></i> <span class="commentcount">{{ event.comment_count }}</span>
              </a>
            {% else %}
              <a href="{{ event.get_absolute_url }}" title="View more"><i class="icon-link"></i></a>
            {% endif %}
          </span>
          {{ event.render_html_dict|lookup:request.identity.default_language_code }}
          <br/><span class="timestamp">{{ event.created_display }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>


  <div id="id-dashboard-script-data"
       {% if request.identity.account %}
       data-user-stats-verses-timeline-stats-csv-url="{% url "user_stats_verses_timeline_stats_csv" request.identity.account.username %}"
       {% endif %}
       >
  </div>
{% endblock %}
