<div style="display:none">
  <div id="id-i18n-dashboard-remove-verses-from-queue-confirm">This will remove chosen verses from your queue for learning. To learn them you will have to select the verses or verse sets again. Continue?</div>
  <div id="id-i18n-dashboard-remove-catechism-from-queue-confirm">This will remove chosen catechism questions from your queue for learning. To learn them you will have to "select the catechism again. Continue?</div>
  <div id="id-i18n-dashboard-cancel-passage-confirm">This will cancel learning this passage in this version. Any test scores will be saved. Continue?</div>
</div>
