<html>
  <head>
    <title>Learnscripture debug</title>
  </head>
  <body>
    <h1>Session ID:</h1>
    <p>{{ request.session.session_key }}</p>
    <h1>Session data:</h1>
    <p>{{ request.session.items }}</p>
    <h1>Local storage:</h1>
    <script>
     function escapeHTML(str){
       return new Option(str).innerHTML;
     }

      for (var i = 0; i < window.localStorage.length; i++) {
          var key = localStorage.key(i);
          document.write("<p>" + key + ": " + escapeHTML(localStorage.getItem(key)) + "</p>");
      }
    </script>
  </body>
</html>
