{% extends "base.html" %}

{% load json_filters %}
{% load account_utils %}
{% load ftl %}
{% load capture_tags %}

{% block donation_drives %}
{% endblock %}

{% block content %}

  {% ftlmsg 'donations-page-top-html' %}

  {% if request_account %}

    {% comment %}
    {% if LIVEBOX %}
      {{ paypal_form.render }}
    {% else %}
      {{ paypal_form.sandbox }}
    {% endif %}
    {% endcomment %}

  {% else %}
    {% capture as login_and_redirect_url silent %}{% url 'login' %}?next={{ request.get_full_path|urlencode }}{% endcapture %}
    <p>{% ftlmsg 'donations-login-to-donate-html' login_and_redirect_url=login_and_redirect_url %}</p>

  {% endif %}

{% endblock %}
