{% extends "base.html" %}

{% load bootstrap %}

{% block content %}

  <h2>Group details</h2>

  <form action="" method="POST" id="id-form-edit-group">
    {% csrf_token %}
    {{ form|bootstrap }}

    <div class="actions">
      <input type="submit" name="save" value="Save" class="btn primary" />
    </div>
  </form>


{% endblock %}


{% block extracss %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/lib/jquery-ui.css" charset="utf-8" />
  {{ form.media.css }}
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.8.13.min.js"></script>
  {{ form.media.js }}

{% endblock %}
