{% load ftl %}
<div class="more-results-container">
  <div class="paging">
    <span class="paging-part">
      {% ftlmsg 'pagination-showing-shown-of-total' shown=results.shown_count total=results.total %}
    </span>
    {% if results.more %}
      <span class="paging-part"><a data-pjax-more href="{{ results.more_link }}">{% ftlmsg 'pagination-show-more' %}</a></span>
    {% endif %}
    <span class="paging-part"><a href="#id-page-top">{% ftlmsg 'pagination-jump-to-top' %}</a></span>
  </div>
</div>
