{% extends "base.html" %}

{% block content %}

  <p>By joining groups, you can more easily compare your progress to people that
    you know or are associated with. Search for groups below,
    or <a href="{% url 'create_group' %}">create your own</a>.
  </p>
  <br>

  <form action="." method="GET"
        data-pjax-results-container="#id-groups-results"
        data-pjax-more-results-container=".more-results-container"
        >
    <div class="form-row">
      <label for="id_query">Search:</label>
      <div class="input input-line">
        {{ filter_form.query }}
        <input type="submit" class="btn primary" value="Search" id="id-search-btn" />
      </div>
    </div>
  </form>

  <div id="id-groups-results">
    {% include "learnscripture/groups_inc.html" %}
  </div>
{% endblock %}
