{% comment %}
  Static strings that are needed client side. Included here to make it easier to
  use server-side i18n mecahnisms, so we can avoid needing a Javascript solution
  for that. Here we only have simple static strings without substitutions that
  are used across multiple pages. For other JS needs, we have APIs that generate
  HTML server-side.

  These are included on every page, so we should be careful not to add too much here.
{% endcomment %}
<div style="display:none">
  <div id="id-i18n-site-confirm-logout">Are you sure you want to log out?</div>
  <div id="id-i18n-site-ajax-failed">The server could not be contacted or an error occurred. Please try again.</div>
</div>
