{# See also language_selector_inc_home.html #}
{% load ftl %}

<div id="id-language-chooser-form">
  <form action="{% url 'learnscripture_set_language' %}" method="post">
    {% csrf_token %}
    {% ftlmsg 'site-footer-choose-language' %}
    <select name="language">
      {% for language in settings.LANGUAGES %}
        <option value="{{ language.0 }}"{% if language.0 == request.LANGUAGE_CODE %} selected{% endif %}>
          {{ language.1 }}
        </option>
      {% endfor %}
    </select>
    <button type="submit" class="btn">{% ftlmsg 'site-footer-choose-language-button' %}</button>
  </form>
  {% if request.LANGUAGE_CODE != 'en' %}
    <div id="id-wrong-translation">
      <a href="{% url 'contact' %}">{% ftlmsg 'site-wrong-or-missing-translation' %}</a>
    </div>
  {% endif %}
</div>
