{% load spurl %}

<div class="pagination">
  <ul>
    {% if page_num == 1 %}
      <li class="disabled prev"><a>Previous</a></li>
    {% else %}
      <li class="prev"><a href="{% spurl base=request.get_full_path set_query="p={{ previous_page_num }}" %}">Previous</a></li>
    {% endif %}
    <li class="disabled"><a>Page {{ page_num }}</a></li>
    {% if accounts and accounts|length == PAGE_SIZE %}
      <li class="next{% if not accounts %} disabled{% endif %}"><a href="{% spurl base=request.get_full_path set_query="p={{ next_page_num }}" %}">Next</a></li>
    {% else %}
      <li class="disabled next"><a>Next</a></li>
    {% endif %}
</div>
