{% extends "base.html" %}

{% load form_rendering %}

{% block body_extra_class %}leaderboard-page{% endblock %}

{% block content %}
  <p><a href="{% url 'group' group.slug %}">See group information</a></p>

  <form action="." method="GET"
        data-pjax-results-container="#id-leaderboard-results-table-body"
        data-pjax-more-results-parent="#id-leaderboard-results-table"
        data-pjax-more-results-container=".more-results-container"
        >
    {{ leaderboard_filter_form|render_form }}
  </form>

  {% if thisweek %}
    <p class="note">Weekly statistics are measured from the current time to one week ago.</p>
  {% endif %}

  <table id="id-leaderboard-results-table">
    <thead>
      <tr>
        <th>User</th>
        <th>Points</th>
        <th>Rank</th>
        <th>Verses started</th>
      </tr>
    </thead>
    <tbody id="id-leaderboard-results-table-body">
      {% include "learnscripture/leaderboard_results_table_body_inc.html" %}
    </tbody>
  </table>

{% endblock %}
