{% extends "base_twocol.html" %}

{% load url from future %}

{% block title %}
Learn
{% endblock %}

{% block page_title %}
Learn!
{% endblock %}

{% block leftcolumn %}

<div id="id-loading">
<h2>Loading...</h2>
</div>

<div id="id-no-verse-queue" style="display:none;">
<p>There are no more verses queued for learning or revising.
  <a href="{% url 'start' %}">Go to the dashboard</a> to select some!
</p>
</div>

<div id="id-controls" style="display:none;">

  <h2 id="id-verse-title"></h2>

  <div id="id-instructions">
    <div class="instructions-read">
      <b>READ:</b> Read the verse through (preferably aloud), and click 'Next'.
    </div>
    <div class="instructions-recall1 instructions-recall2 instructions-recall3
                instructions-recall4 instructions-recall5" style="display:none;">
      <b>READ and RECALL:</b>
      Read the verse through, filling in the gaps from your memory. Click
      a word to reveal it if you can't remember. 'Next' when done.
    </div>
    <div class="instructions-recall6" style="display:none;">
      <b>READ and RECALL:</b> No clues now! Can you still remember it?
    </div>

    <div class="instructions-testFull" style="display:none;">
      <b>TEST:</b> Testing time! Type the verse, using space to check each word as you go.
      (hint: don't sweat the spelling, we should be able to work it out).
    </div>

    <div class="instructions-results" style="display:none;">
      <b>RESULTS:</b> You scored <span id="id-score"></span>. <span id="id-result-suggestion"></span> <span id="id-result-buttons"><input type="submit" class="btn" value="Revise verse" style="display:none;" /> <input id="id-next-verse-btn" type="submit" class="btn primary" value="Next verse" /></span>
    </div>

  </div>


  <div id="id-verse-wrapper">
    <div id="id-verse">
    </div>
    <div id="id-version">
      <span id="id-version-name"></span><span id="id-browse-link"> | <a href="" target="_blank" title="Browse this passage in new tab/window">browse</a></span> | Change
      <select id="id-version-select">
        {% for v in bible_versions %}
        <option value="{{ v.slug }}">{{ v.short_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div> Input:
    <input type="text" value="" id="id-typing" size="10" style="width:10em;">
    <span id="id-testing-status"></span>
    <span id="id-progress-summary"></span>
  </div>
  <div>
  </div>

  <br/>

  <table class="condensed">
    <tr>
      <td>
        <nobr><input type="submit" value="Back" class="btn" id="id-back-btn" style="display:none;" disabled> <input type="submit" value="Next" class="primary btn" id="id-next-btn" style="display:none;"></nobr>
      </td>
      <td style="padding-left: 5px; text-align: right;">
        <i>Keyboard navigation:</i> <nobr><b>Arrows:</b> move word.</nobr> <nobr><b>Enter:</b> show word.</nobr> <nobr><b>Esc:</b> clear input.</nobr> <nobr><b>Ctrl+Right:</b> next stage.</nobr> <nobr><b>Ctrl+Left:</b> back</nobr>
      </td>
    </tr>
  </table>

  <hr>

  <h3>Progress</h3>

  <div class="progress">
    <table>
    </table>
  </div>
</div>

{% endblock %}
