{% extends "base.html" %}

{% block title %}
Learn
{% endblock %}

{% block page_title %}
Learn!
{% endblock %}

{% block content %}
<h2>Isaiah 40:28</h2>

<div id="id-instructions">
<div class="instructions-read">
<b>READ:</b> Read the verse through (preferably aloud), and click 'Next'.
</div>
<div class="instructions-recall1 instructions-recall2 instructions-recall3 instructions-recall4
            instructions-recall5" style="display:none;">
<b>RECALL:</b>
Read the verse through, filling in the gaps from your memory. Click
a word to reveal it if you can't remember. 'Next' when done.
</div>
<div class="instructions-recall6" style="display:none;">
<b>RECALL:</b> No clues now! Can you still remember it?
</div>

<div class="instructions-testFull" style="display:none;">
<b>TEST:</b> Testing time! Type the verse, using space to check each word as you go.
(hint: don't sweat the spelling, we should be able to work it out).
</div>

</div>

<div id="verse">
<div class="line">
Have you not known? Have you not heard?</div><div class="line">
The Lord is the everlasting God,</div><div class="line">
the Creator of the ends of the earth.</div><div class="line">
He does not faint or grow weary;</div><div class="line">
his understanding is unsearchable.</div><div class="line">
Isaiah 40:28
</div>
</div>

<div> Input:
   <input type="text" value="" id="id-typing" size="10" style="width:10em;">
   <span id="id-testing-status"></span>
</div>
<div>
</div>

<br/>

<table class="condensed">
  <tr>
    <td>
      <nobr><input type="submit" value="Back" class="btn" id="id-back-btn" style="display:none;" disabled> <input type="submit" value="Next" class="primary btn" id="id-next-btn" style="display:none;"></nobr>
    </td>
    <td style="padding-left: 5px; text-align: right;">
      <i>Keyboard navigation:</i> <nobr><b>Arrows:</b> move word.</nobr> <nobr><b>Enter:</b> show word.</nobr> <nobr><b>Esc:</b> clear input.<nobr/> <nobr><b>Ctrl+Right:</b> next stage.</nobr> <nobr><b>Ctrl+Left:</b> back</nobr>
    </td>
  </tr>
</table>

<hr>

<h3>Progress</h3>

<div class="progress">
  <table>
  </table>
</div>

{% endblock %}


{% block rightcolumn %}
<h3>Session status</h3>

<p><b>Guest User</b></p>

<div class="stats">
<p>Words seen: 0</p>

<p>Words learnt: 0</p>
</div>

<p>As a guest, your data will be safe for two weeks (assuming you don't clear
your browser cookies).</p>

<p><a href="">Create an account</a> to save progress permanently.</p>

{% endblock %}
