{% extends "base_twocol.html" %}
{% load bootstrap %}

{% block title %}
Preferences
{% endblock %}

{% block page_title %}
Preferences
{% endblock %}

{% block leftcolumn %}

<p>Enter your preferences and press 'Save' to continue.</p>
<form action="" method="POST">
{% csrf_token %}
{{ form|bootstrap }}

<p>All preferences can be changed later, and the Bible version can be chosen on
a verse-by-verse basis</p>

<input id="id-save-btn" type="submit" value="Save" class="btn primary">
</form>
{% endblock %}
