<h3>Session status</h3>

{% if request.identity.account %}
<p>Logged in as: <b class="holds-username">{{ request.identity.account.username }}</b></p>

<p>Member since: <b>{{ request.identity.account.date_joined|date:"F Y" }}</b>

{% else %}
<p>Logged in as: <b class="holds-username">Guest User</b></p>

<div class="warning guest-only">
<hr/>
  <p><span class="label warning">Warning:</span> As a guest, your data will expire in {{ request.identity.expires_on|timeuntil }}</span>
   (assuming you don't clear your browser cookies).</p>

  <p><a href="" class="signup-link">Create an account</a> to save progress permanently,
  or <a href="" class="login-link">sign in</a> if you already have an account.</p>
</div>
{% endif %}
