{% extends "base_twocol.html" %}

{% load url from future %}
{% load markup %}

{% block leftcolumn %}

{% if verse_set.description %}
<p>{{ verse_set.description|restructuredtext }}</p>
{% endif %}
{% if verse_choices %}
{% if verse_set.is_passage %}
<h3>{{ verse_choices.0.verse.book_name }}</h3>
{% for v in verse_choices %}
{% if v.verse.break_here %}<br/>{% endif %}
<div>
  {% ifchanged v.verse.chapter_number %}
  <span class="chapternumber">{{ v.verse.chapter_number }}</span>
  {% endifchanged %}
  <span class="versenumber">{{ v.verse.verse_number }}</span>
{{ v.verse.text }}
</div>
{% endfor %}
<br/>
{% else %}

<p>Includes the following verses:
  <ul>
    {% for v in verse_choices %}
    <li>
    {{ v.reference }}: {{ v.verse.text }}
    <br/><br/>
    </li>
    {% endfor %}
  </ul>
</p>
{% endif %}

<form action="" method="GET">
<div id="id-version">
  Version:
  {% with current_version=version %}
  {% include "learnscripture/version_select.html" %}
  {% endwith %}
</div>
</form>

{% if not verse_set.is_passage %}
<p>When learning a set, you can opt out of any individual verse by pressing
 ‘Stop learning this verse’ on the learning page.</p>
{% endif %}

{% else %}
No verses in this set!
{% endif %}

{% if can_edit and show_convert_to_passage %}
<hr>
<p>This looks like a continuous set of verses. These are much better learnt
  using a 'passage' set, rather than a 'selection' set. You can convert using
  the button below:
<form action="" method="POST">
{% csrf_token %}
<input type="submit" name="convert_to_passage_set" value="Convert to passage set"
       class="btn"/>
</form>
<hr>

{% endif %}

<form action="{% url 'choose' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="verseset_id" value="{{ verse_set.id }}">
  <input type="hidden" name="version_slug" value="{{ version.slug }}">
  {% if can_edit %}
  <a class="btn" href="{% url 'edit_set' slug=verse_set.slug %}">Edit</a>
  {% endif %}
  {% if verse_choices %}
  <input type="submit" class="btn primary needs-preferences" value="Learn">
  {% endif %}
</form>


{% endblock %}


{% block rightcolumn %}

<h3>Verse set info</h3>

<div>Put together by:
<a href="{% url 'user_stats' verse_set.created_by.username %}"
>{{ verse_set.created_by.username }}</a>
<br/>
Created: {{ verse_set.date_added|timesince }} ago

{% if not verse_set.public %}
<br/><br/>
<strong>Private</strong> - this verse set can only be accessed by you.
{% endif %}
</div>

{% endblock %}
