{% extends "base_twocol.html" %}
{% load url from future %}

{% block title %}
Dashboard
{% endblock %}

{% block page_title %}
Dashboard
{% endblock %}


{% block leftcolumn %}

<h2>Revise</h2>

<div class="actionset">
  {% if revise_verses_queue %}
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="revisequeue" class="btn primary" value="Start revising" />
  </form>

  <p>You've got {{ revise_verses_queue|length }}
    verse{{revise_verses_queue|length|pluralize }} due for revisiting today.

    <br/>We select these according to the stage of memorising each verse is at.</p>

  <p>Verses coming up:
    {% include 'learnscripture/verselist.html' with verselist=revise_verses_queue %}
  </p>
  {% else %}
  <p>Nothing that needs revisiting at this point in time.

  {% endif %}
</div>


<h2>Learn</h2>

{% if passages_for_learning %}
<div class="actionset">
  {% for vs in passages_for_learning %}
  {% if not forloop.first %}<hr>{% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="verse_set_id" value="{{ vs.id }}" />
    <input type="submit" name="learnpassage" class="btn primary" value="Continue learning"
           id="id-learnpassage-btn-{{ vs.id }}" />
  </form>
  <h3>{{ vs.name }}</h3>
  <p>Continue learning this passage. You've seen {{ vs.tested_total }} verse(s) so far,
    with {{ vs.untested_total }} to go.</p>


  {% endfor %}

</div>
{% endif %}

<div class="actionset">
  {% if new_verses_queue %}
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="learnqueue" class="btn primary" value="Start learning" />
  </form>

  <p>You've got {{ new_verses_queue|length }} new verse{{ new_verses_queue|length|pluralize }} in your general queue for learning.</p>

  <p>Verses coming up:
    {% include 'learnscripture/verselist.html' with verselist=new_verses_queue %}
  </p>

  {% else %}
  <p>Nothing currently in your queue for learning.</p>

  {% endif %}
</div>

<h2>Choose</h2>

<div class="actionset">
  <p>When you're done with the above — <a href="{% url 'choose' %}">choose some verses or a passage to learn.</a></p>

</div>
{% endblock %}
