{% extends "base.html" %}

{% load json_filters %}

{% block content %}
<script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>

<h2>Verses tested per day</h2>

<div id="id-verses-tested-graph" style="width:600px;height:300px;">
</div>


{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.flot.min.js"></script>
<script type="text/javascript">
$(function() {

    var placeholder_id = "#id-verses-tested-graph";
    var verses_tested_per_day = {{ verses_tested_per_day|jsonify }};

    $.plot(placeholder_id,
           [
            {label: "Tests",
             data: verses_tested_per_day}
           ],
           { xaxis: { mode: "time",
                      ticks: 5 },
             yaxis: { min: 0 },
             legend: { position: "nw" },
           });
});
</script>
{% endblock %}
