{% extends "base.html" %}

{% load json_filters %}

{% block content %}
{% if not payment_possible %}
  <p>Your subscription is not due for renewal</p>
{% else %}

  {% if payment_overdue %}
  <p>Payment is now due.</p>

  {% if was_on_free_trial %}
    {% if started_verses_count %}
    <p>On your free trial, you've started learning {{ started_verses_count }} bible verses.
      {% if well_learnt_verses %}
      You could probably recite {{ well_learnt_verses }} right now.
      {% endif %}
    </p>

    <p>We hope that is valuable to you! Of course, this service costs money to
      run, and you've reached the end of your free trial, so we are asking you
      to pay our modest subscription fees to continue with the service.
    </p>

    {% endif %}


  {% endif %}

  {% else %}
  <p>Payment is due soon, and you can choose to pay early if you would like,
    at your convenience - you won't lose the
    {% if free_trial %} free days
    {% else %} paid days
    {% endif %}
    you still have on account.
  </p>
  {% endif %}

  <p>Choose your currency and payment period:</p>

  <form action="" method="POST">
    {% csrf_token %}
    <div class="clearfix">
      <label>Currency</label>
      <div class="input">
        <ul class="inputs-list" id="id_currency_list">
          {% for currency in currencies %}
          <li>
            <label for="id_currency_{{ forloop.counter0 }}">
              <input type="radio" name="currency"
                     id="id_currency_{{ forloop.counter0 }}"
                     value="{{ currency.name }}">
              {{ currency.symbol }} {{ currency.name }}
            </label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="clearfix" style="display: none;">
      <label>Period</label>
      <div class="input">
        <ul class="inputs-list" id="id_prices_list">
          {% for currency, prices in price_groups %}
          {% for price in prices %}
          <li style="display: none;">
            <label for="id_price_{{ currency.name }}_{{ price.id }}">
              <input type="radio" name="price"
                     id="id_price_{{ currency.name }}_{{ price.id }}"
                     value="{{ price.id }}">
              {{ price.description }} - {{ currency.symbol }}{{ price.amount }}
            </label>
          </li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </form>


  {% for label, form in price_forms %}
    <div id="id_price_form_{{ label }}" style="display: none;" class="price-form actions">
      {% if PRODUCTION %}
        {{ form.render }}
      {% else %}
        {{ form.sandbox }}
      {% endif %}
    </div>
  {% endfor %}
{% endif %}

{% endblock %}
