{% extends "base.html" %}

{% load json_filters %}
{% load url from future %}

{% block content %}
{% if not payment_possible %}
  <p>Your subscription is not due for renewal</p>
{% else %}

  {% if payment_overdue %}
  <p>Payment is now due.</p>

    {% if was_on_free_trial %}
      {% if started_verses_count %}
      <p>On your free trial, you've started learning <strong>{{ started_verses_count }} bible verses</strong>.
        {% if well_learnt_verses %}
        You could probably recite <strong>{{ well_learnt_verses }}</strong> right now.
        {% endif %}
      </p>

      <p>We hope that is valuable to you! Of course, this service costs money to
        run, and you've reached the end of your free trial, so we are asking you
        to pay our modest subscription fees to continue with the service.
      </p>

      {% endif %}

    {% endif %}

  {% else %}

    {% if not basic_account %}
      <p>Payment is due soon, and you can choose to pay early if you would like,
        at your convenience - you won't lose the
        {% if free_trial %} free days
        {% else %} paid days
        {% endif %}
        you still have on account.
      </p>
    {% endif %}
  {% endif %}

  <p>You can pay by credit card, debit card, or Paypal. Our payment and refund
    policy is described in our <a href="/terms-of-service/">terms of
      service</a>, which you are agreeing to by continuing.
  </p>


  <p>Choose your currency and payment period:</p>

  <form action="" method="POST">
    {% csrf_token %}
    <div class="clearfix">
      <label>Currency</label>
      <div class="input">
        <ul class="inputs-list" id="id_currency_list">
          {% for currency in currencies %}
          <li>
            <label for="id_currency_{{ forloop.counter0 }}">
              <input type="radio" name="currency"
                     id="id_currency_{{ forloop.counter0 }}"
                     value="{{ currency.name }}">
              {{ currency.symbol }} {{ currency.name }}
            </label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="id_prices_list_container" style="display: none;">
    <div class="clearfix">
      <label>Period</label>
      <div class="input">
        <ul class="inputs-list" id="id_prices_list">
          {% for currency, prices in price_groups %}
          {% for price in prices %}
          <li style="display: none;">
            <label for="id_price_{{ currency.name }}_{{ price.id }}">
              <input type="radio" name="price"
                     id="id_price_{{ currency.name }}_{{ price.id }}"
                     value="{{ price.id }}">
              {{ price.description }} -
              {% if price.discounted %}
              <s>{{ currency.symbol }}{{ price.amount }}</s>
                 {{ currency.symbol }}{{ price.amount_with_discount }}
              {% else %}
                 {{ currency.symbol }}{{ price.amount }}
              {% endif %}
              {% if price.savings %}
               (save {{ currency.symbol }}{{ price.savings }})
              {% endif %}
            </label>
          </li>
          {% endfor %}
          {% if payment_overdue %}
          <li>
            <label for="id_price_{{ currency.name }}_cant_afford">
              <input type="radio" name="price"
                     id="id_price_{{ currency.name }}_cant_afford"
                     value="">
              That's too much
            </label>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% if discount %}
    <p>You have a {{ discount }}% discount applied, through our <a href="{% url 'referral_program' %}">referral program</a>. Thanks for your advertising!</p>
    {% else %}
    <p>For future payments, you can get discounts on these prices through
    our <a href="{% url 'referral_program' %}">referral program</a>.</p>
    {% endif %}
    </div>
  </form>

  {% for label, form in price_forms %}
    <div id="id_price_form_{{ label }}" style="display: none;" class="price-form actions">
      {% if PRODUCTION %}
        {{ form.render }}
      {% else %}
        {{ form.sandbox }}
      {% endif %}
    </div>
  {% endfor %}

  <div id="id_cant_afford_form" style="display: none;">
    <h2>Basic account</h2>
    <p>We realise that some people will really benefit from this service, but
      will not be able to afford the fees above, so we do have a free
      service.</p>

    <p>In order to minimize the costs, the free service has some significant
      limitations, including:</p>

    <ul>
      <li>No points are awarded.</li>
      <li>You are removed from the leaderboards.</li>
      <li>You will not be able to create public verse sets.</li>
    </ul>

    <p>Since this service does not generate any revenue for us at all, we cannot
      guarantee that we will be able to continue it, but it is currently
      available as an option.
    </p>

    <form action="" method="POST">
      {% csrf_token %}
      <div class="actions">
        <input type="submit" name="downgrade" class="btn" value="Downgrade to basic account">
      </div>
    </form>
  </div>


{% endif %}

{% endblock %}
