{% extends "base.html" %}

{% block content %}

<p>Add funds to your <b>{{ fund.name }}</b> payment fund. You can pay using credit
card, debit card, or PayPal account. All payments are taken through PayPal.</p>

<p>Any money paid into the fund can be refunded on request, but this may take up
 to one month to process.</p>

<p>Currency: <b>{{ fund.currency.name }}</b>.
  Minimum amount: <b>{{ fund.currency.symbol }}{{ minimum }}</b>
</p>


<form action="{{ POSTBACK_ENDPOINT }}" method="post">
  {{ form.as_p }}
  <div class="clearfix">
    <label>Amount</label>
    <div class="input">
      {{ fund.currency.symbol }} <input type="text" name="amount" value="">
    </div>
  </div>
  <div class="actions">
    <input type="image" src="{{ form.get_image }}" border="0" name="submit" alt="Add funds" />
  </div>
</form>

{% endblock %}
