{% extends "base.html" %}

{% load pagination_tags %}
{% load form_rendering %}

{% block body_extra_class %}user-verses-page{% endblock %}

{% block content %}
  <h3>Filter items</h3>
  <form action="." method="GET"
        data-pjax-results-container="#id-user-verses-results"
        data-pjax-more-results-container=".more-results-container"
        >
    <div class="form-row">
      <label for="id_query">Search:</label>
      <div class="input input-line">
        {{ filter_form.query }}
        <input type="submit" class="btn primary" value="Search" id="id-search-btn" />
      </div>
    </div>
    {{ filter_form.text_type|render_field }}
    {{ filter_form.order|render_field }}
  </form>

  <div id="id-user-verses-results">
    {% include "learnscripture/user_verses_inc.html" %}
  </div>

{% endblock %}
