{% extends "base.html" %}

{% load url from future %}

{% block content %}

<h2>User information</h2>


<table class="bordered-table">
  <tbody>
    <tr>
      <th>Name</th>
      <td>{{ account.first_name }} {{ account.last_name }}</td>
    </tr>
    <tr>
      <th>Member since</th>
      <td>{{ account.date_joined }}</td>
    </tr>
    <tr>
      <th>Subscription type</th>
      <td>{{ account.get_subscription_display }}</td>
    </tr>
  </tbody>
</table>

{% if awards and account.scoring_enabled %}
<h2>Badges</h2>

<table class="bordered-table award">
  <thead>
    <th>Badge</th>
    <th>Description</th>
    <th>Points</th>
    <th>Received</th>
  </thead>

  <tbody>
  {% for award in awards %}
  <tr>
    <td>
      <img src="{{ STATIC_URL }}{{ award.image_medium }}">
    </td>
    <td>
      <h3>{{ award.short_description }}</h3>
      <p>{{ award.full_description }}</p>
    </td>
    <td>
      {{ award.get_award_detail.points }}
    </td>
    <td>
      {{ award.created }}
    </td>
  </tr>
  {% endfor %}
  <tbody>
</table>

{% endif %}

<h2>Stats</h2>

{% if account.total_score and account.scoring_enabled %}

<table class="bordered-table">
  <thead>
    <tr>
      <th></th>
      <th>All time</th>
      <th>This week</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Rank</th>
      <td>{{ account.rank_all_time }}</td>
      <td>{{ account.rank_this_week }}</td>
    </tr>
    <tr>
      <th>Points</th>
      <td>{{ account.points_all_time }}</td>
      <td>{{ account.points_this_week }}</td>
    </tr>
    <tr>
      <th>Verses started</th>
      <td>{{ verses_started_all_time }}</td>
      <td>{{ verses_started_this_week }}</td>
    </tr>
    <tr>
      <th>Verses fully learnt</th>
      <td>{{ verses_finished_all_time }}</td>
      <td>{{ verses_finished_this_week }}</td>
    </tr>
    <tr>
      <th>Verse sets created</th>
      <td>{{ verse_sets_created_all_time }}</td>
      <td>{{ verse_sets_created_this_week }}</td>
    </tr>

  </tbody>
</table>

{% elif account.scoring_enabled %}

<p>No points earned yet.</p>

{% else %}

<p>Stats and badges disabled for free accounts.
{% if request.identity.account.username == account.username %}
  <a href="{% url 'subscribe' %}">Subscribe to enable.</a>
  {% endif %}
</p>

{% endif %}

<p><a href="{% url 'leaderboard' %}" class="icon-leaderboard">See all rankings</a></p>

{% if request.identity.account.username == account.username %}
<p><a href="{% url 'user_verses' %}" class="icon-progress">See detailed progress on verse learning</a></p>
{% endif %}

{% endblock %}
