{% extends "base.html" %}

{% load dict_utils %}
{% load ftl %}

{% block content %}
  <h2>{% ftlmsg 'versesets-you-are-learning-title' %}</h2>

  <ul>
    {% for cvs in chosen_verse_sets %}
      <li>
        <a href="{% url 'view_verse_set' cvs.verse_set.slug %}?version={{ cvs.version.slug }}">{{ cvs.verse_set.smart_name_dict|lookup:cvs.version.language_code }}</a> ({{ cvs.version.short_name }})
      </li>
    {% endfor %}
  </ul>

  {% if verse_sets_created %}
    <h2>{% ftlmsg 'versesets-you-created-title' %}</h2>

    <ul>
      {% for vs in verse_sets_created %}
        {# For verse sets user created, use 'name' as created, seems less confusing than using smart_name #}
        <li><a href="{% url 'view_verse_set' vs.slug %}">{{ vs.name }}</a></li>
      {% endfor %}
    </ul>

  {% endif %}
{% endblock %}
