{% load ftl %}

{% if not results.items %}
  {% if bible %}
    <p>{% ftlmsg 'user-verses-no-verses' %}</p>
  {% endif %}
  {% if catechism %}
    <p>{% ftlmsg 'user-verses-no-catechism-questions' %}</p>
  {% endif %}

{% else %}

  <table class="bordered-table verse-progress-data">
    <thead>
      <tr>
        <th class="verse-ref">{% if bible %}{% ftlmsg 'user-verses-verse-reference-heading' %}{% elif catechism %}{% ftlmsg 'user-verses-question-heading' %}{% endif %}</th>
        <th>{% if bible %}{% ftlmsg 'user-verses-version-heading' %}{% elif catechism %}{% ftlmsg 'user-verses-catechism-heading' %}{% endif %}</th>
        <th>{% ftlmsg 'user-verses-strength-heading' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% include "learnscripture/user_verses_table_body_inc.html" %}
    </tbody>
  </table>
{% endif %}
