{% extends "base_twocol.html" %}

{% load url from future %}
{% load pagination_tags %}

{% block leftcolumn %}
<h2>Verses you are learning</h2>

{% autopaginate verses 20 %}

{% if not verses %}
<p>No verses learnt yet</p>

{% else %}

<ul class="pills">
  <li {% if not bibleorder %}
      class="active"
      {% endif %}
      ><a href=".">Strength order</a>
  </li>
  <li {% if bibleorder %}
      class="active"
      {% endif %}
      ><a href="?bibleorder">Bible order</a>
  </li>
</ul>

{% paginate %}

<table class="bordered-table condensed">
  <thead>
    <tr>
      <th>Verse</th>
      <th>Version</th>
      <th>Strength</th>
    </tr>
  </thead>
  <tbody>
    {% for verse in verses %}
    {% ifchanged verse.reference verse.version.slug %}
    <tr>
      <td>{{ verse.reference }}</td>
      <td>{{ verse.version.slug }}</td>
      <td><img src="{{ STATIC_URL }}img/strength_{{ verse.simple_strength }}.png"></td>
    </tr>
    {% endifchanged %}
    {% endfor %}
  </tbody>
</table>
{% paginate %}
{% endif %}

{% endblock %}
