{% load dict_utils %}

<div class="verse-options alert-message block-message info">
  {% for uvs in uvs_list %}

    {% if forloop.first %}  {# Avoid doing 'reviewverse' more than once #}
      <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="uvs_id" value="{{ uvs.id }}" />
        <p>
          <input type="submit" name="reviewverse" class="btn primary"
                 {% if uvs.needs_testing %}
                 value="Review {{ uvs.item_name }}"
                 {% else %}
                 value="Practise {{ uvs.item_name }}"
                 {% endif %}
                 />
        </p>
      </form>
    {% endif %}

    {% if uvs.is_in_passage %}
      <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="verse_set_id" value="{{ uvs.verse_set.id }}" />
        <input type="hidden" name="uvs_id" value="{{ uvs.id }}" />

        {% if uvs.section_localized_reference != uvs.passage_localized_reference %}

          {# review/practise section #}

          <p>
            {% if uvs.needs_testing %}
              <input type="submit" name="reviewpassagesection" class="btn primary"
                     value="Review section: {{ uvs.section_localized_reference }}"/>
            {% else %}
              <input type="submit" name="practisepassagesection" class="btn primary"
                     value="Practise section: {{ uvs.section_localized_reference }}"/>
            {% endif %}
          </p>

        {% endif %}

        {# review/practice passage #}

        <p>
          {% if uvs.needs_testing %}
            <input type="submit" name="reviewpassage" class="btn primary"
                   value="Review passage: {{ uvs.passage_localized_reference }}"/>
          {% else %}
            <input type="submit" name="practisepassage" class="btn primary"
                   value="Practise passage: {{ uvs.passage_localized_reference }}"/>
          {% endif %}
        </p>
      </form>
    {% endif %}

    {% if uvs.version.is_catechism %}
      <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="catechism_id" value="{{ uvs.version.id }}" />
        <p>
          <input type="submit" name="reviewcatechism" class="btn primary"
                 value="Practice or review all of {{ uvs.version.short_name }}"/>
        </p>

      </form>
    {% endif %}

    {# Stop learning buttons #}
    {% if uvs.version.is_bible %}
      <form action="" method="POST">
        {% csrf_token %}
        {% if not uvs.verse_set or uvs.verse_set.is_selection %}

          {# Selections #}
          <input type="hidden" name="verse_status_id" value="{{ uvs.id }}" />
          <input type="hidden" name="verse_status_version_slug" value="{{ uvs.version.slug }}" />
          <input type="hidden" name="verse_status_localized_reference" value="{{ uvs.localized_reference }}" />
          <p>
            <input type="submit" name="cancellearning" class="btn primary cancel-learning-verse-btn"
                   value="Stop learning this" />
          </p>
        {% else %}

          {# Passages #}
          <input type="hidden" name="verse_set_id" value="{{ uvs.verse_set_id }}" />
          <input type="hidden" name="version_id" value="{{ uvs.version_id }}" />
          <p>
            <button type="submit" name="cancellearning" class="btn primary cancel-learning-passage-btn">
              Stop learning this passage<br>
              ({{ uvs.passage_localized_reference }})
            </button>
          </p>
        {% endif %}
      </form>
    {% endif %}

  {% endfor %}
</div>
