{% extends "base.html" %}

{% load markup %}
{% load url from future %}

{% block content %}

<h2>Description</h2>

{{ catechism.description|restructuredtext }}

<h2>Questions</h2>

<ol>
{% for qapair in questions %}
  <li><b>{{ qapair.question }}</b><br/>
    {{ qapair.answer }}
  </li>
{% endfor %}
</ol>

<h3>Notes</h3>
<ul>
  <li>When learning a catechism, you can opt out of any individual question by
    pressing ‘Stop learning this’ on the learning page.</li>
  <li><span class="icon-public">Learning a catechism is a public action</span></li>
</ul>

<form action="{% url 'catechisms' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="catechism_id" value="{{ catechism.id }}">
  <div class="actions">
  <input type="submit" class="btn primary needs-preferences" value="Learn">
  </div>
</form>

{% endblock %}


