{% extends "base_twocol.html" %}

{% load markup_tags %}
{% load account_utils %}
{% load ftl %}

{% block leftcolumn %}

  <h2>{% ftlmsg 'catechisms-description-title' %}</h2>

  {{ catechism.description|apply_markup:"restructuredtext" }}

  <h2>{% ftlmsg 'catechisms-questions-title' %}</h2>

  <ul>
    {% for qapair in questions %}
      <li><b>{{ qapair.localized_reference }}. {{ qapair.question }}</b><br/>
        {{ qapair.answer }}
      </li>
    {% endfor %}
  </ul>

  <div class="catechsim-version-info">
    {% include "learnscripture/permission_link.html" with text=catechism %}
  </div>

  <h3>{% ftlmsg 'catechisms-notes-title' %}</h3>
  <ul>
    <li>{% ftlmsg 'catechisms-how-to-opt-out' %}</li>
    <li><i class="icon-public"></i> {% ftlmsg 'catechisms-learning-is-public' %}</li>
  </ul>

  <form action="{% url 'catechisms' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="catechism_id" value="{{ catechism.id }}">
    <div class="actions">
      <button type="submit" id="id-catechism-learn-button" class="btn primary needs-preferences">{% ftlmsg 'catechisms-learn-button' %}</button>
    </div>
  </form>

{% endblock %}

{% block rightcolumn %}
  <h3>{% ftlmsg 'site-see-also-header' %}</h3>
  <ul>
    <li><a href="{% url 'catechisms' %}">{% ftlmsg 'catechisms-all-catechism-link' %}</a></li>
  </ul>

  {% if learners %}
    <h3>{% ftlmsg 'catechisms-people-learning-this-title' %}</h3>
    <ul>
      {% for account in learners %}
        <li>{{ account|account_link }}</li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
